body {
	font-family: sans;
}

ul.navmenu {
	position: relative;
	z-index: 100;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

ul.navmenu-inner {
	position: relative;
	z-index: 10;
  list-style-type: none;
  padding-left: 0;
	background: white;
	display: none;
}

.navmenu > li {
	width: 271px;
	height: 23px;
	background: no-repeat url("menu-background-passive.png");
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	margin: 2mm 0 2mm 0;
	overflow: hidden;
	text-align: left;
}

.navmenu > li.thispage {
	height: auto;
	min-height: 23px;
	background: no-repeat url("menu-background-selected.png");
}

li.thispage ul.navmenu-inner {
	display: block;
}

.navmenu > li:hover {
	background: no-repeat url("menu-background-active.png");
}

.navmenu a {
	position: relative;
	left: 25px;
	top: 3px;
	color: #006;
	text-decoration: none;
}

.navmenu-inner li {
	margin-top: 3mm;
	margin-bottom: 3mm;
}

.navmenu-inner > li.thispage {
	background: no-repeat url("active-marker.png");
}	

.navmenu-inner a {
	color: #666;
	margin-left: 4px;
}

header {
	background: no-repeat url("top-decoration.png");
	height: 213px;
}

#toplabel {
	font-size: 30px;
	font-weight: bold;
	margin-left: 280px;
	padding-top: 26px;
	color: #2f4785;
}

#core {
	display: table-row;
}

nav, article {
	display: table-cell;
}

article {
	max-width: 17cm;
	min-width: 6cm;
}

.dekofig {
	width: 100%;
}

.cover-art {
	display: block;
	margin-right: 1rem;
	max-width: 5cm;
	float: left;
}

blockquote {
	font-style: italic;
}

h1 {
	font-size: 150%;
	margin-bottom: 2rem;
}

h2 {
	font-size: 120%;
	margin-top: 1.5em;
}

h3 {
	font-size: 120%;
	font-weight: normal;
	font-style: italic;
}

h3.termhead {
	font-size: 100%;
}

#content {
	position: relative;
	top: -14mm;
}

p.redirect {
	margin-top: 2cm;
}

/* Verlegung pages */

p.verlegung {
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

div.verlegung > p {
	text-align: center;
}

div.verlegung > h2 {
	margin-top: 2rem;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	font-size: 100%;
}

div.verlegung > p {
	text-decoration: none;
	font-variant: small-caps;
}

/* Index */

a.biolink {
	font-variant: small-caps;
}

a.geolink {
	font-size: 80%;
	display: inline-block;
	margin-left: 2rem;
	color: #999;
}

ul.person-index li {
  list-style-type: none;
  padding-left: 0;
  margin: 1rem 0 0 0;
}

/* Sofo-hd (Termine) */
.sofo-termine {
	position: relative;
}

#alt-formats {
	position: absolute;
	right: 0.4rem;
	top: 0.4rem;
	font-size: 80%;
}

#alt-formats a {
	text-decoration: none;
}

.event-links {
	float: right;
	margin-left: 1rem;
	font-size: 80%;
}

.private-marker {
	display: none;
}

p.attribution {
	text-align: right;
	font-size: 80%;
	font-style: italic;
	margin-top: 2pt;
}

label.hamburger { display: none;}
input.hamburger { display: none;}

/* Ab hier nur noch Mobiltelefon/kleine Medien */
@media(max-width: 18cm) {
	nav#menu {
		display: none;
	}

	h1 {
		background-color: rgba(240,240,255,0.9);
		padding: 1rem 0 1rem 0;
	}

	nav {
		text-align: right;
		background-color: rgba(160,208,160,0.9);
		border-color: transparent;
		box-shadow: none;
		width: auto;
		z-index: 300;
		background-color: white;
  	box-shadow: 8pt 8pt 5pt #ccc;
	}

	label.hamburger {
		position: fixed;
		left: 0.5rem;
		top: 0.5rem;
		display: inline-block;
		font-size: 150%;
		font-weight: bold;
    color: black;
    z-index: 600;
    background-color: rgba(255,255,255,0.7);
	}

  .discardable {
  	display: none;
  }

  input.hamburger:checked ~ nav#menu {
  	position: absolute;
  	left: 0;
  	top: 3rem;
  	display: block;
  }

	.cover-art {
		display: block;
		margin: 0 auto;
		max-height: 10cm;
		max-width: none;
		float: none;
	}

}
