<h1>Gedenken zum 70. Jahrestag der Deportation nach Gurs</h1>

<a href="mediapool/63/638182/resources/big_16384528_0_1000-568.jpg">
<img alt="Scan eines Zeitungsartikels 'Die Deportierten werden nicht vergessen'" src="mediapool/63/638182/resources/big_16384528_0_1000-568.jpg" class="dekofig"></a>

<p>Am Freitag, dem 22.10.2010, jährte sich die Deportation nach Gurs zum 70.
Mal. Die Initiative Stolpersteine gedachte dieses Tages mit Ihrer Mithilfe.</p>

<p>Am 22. Oktober 1940 wurden nahezu alle noch in Heidelberg verbliebenen Juden
nach Gurs in Südfrankreich deportiert. Es waren fast 300 Personen aus dem
Stadtgebiet und über 100 Personen aus dem damaligen Landkreis Heidelberg; die
Aktion war Teil der Deportation der badisch-saarpfälzischen Juden, und es war
die erste große Deportation aus dem Deutschen Reich.</p>

<p>Der Zug nach Gurs ging am 22.10.1940 vom Gleis 1a des damaligen
Hauptbahnhofs ab, ungefähr um 18 Uhr.</p>

<p>Mit Hilfe des Vermessungsamtes der Stadt konnte die genaue Lage dieses
ehemaligen Gleisgeländes festgestellt werden. Das Gleis begann ziemlich genau
an der Passage zwischen der Sparkasse und der Volksbank in der
Kurfürsten-Anlage und endete bei der heutigen Stadtbücherei.</p>

<p>An diesem authentischen Ort, der Stadtbücherei, fand eine Erinnerungs- und
Gedenkstunde statt. Unter anderem sprachen Schauspieler der Städtischen Bühne
Texte.</p>

<p>Viele jüdische Personen wohnten im Oktober 1940 nicht mehr in ihren
angestammten Häusern und Wohnungen, sondern waren in sogenannte Judenhäuser
eingewiesen worden. Aus diesem Grund gingen am 22. Oktober 2010 viele Menschen,
hauptsächlich Schüler/innen, gruppenweise von einigen dieser Ghettohäuser aus
zum ehemaligen Gleis 1a. </p>

<p>Die Routen: </p>

<ul><li>Route von Marktplatz 7: Durch die Hauptstraße über den Bismarckplatz in
die Rohrbacherstraße zur Poststraße. Die Schülerinnen und Schüler des KFG
treffen sich um 16.00 Uhr und laufen um 16.15 Uhr los.</li>

<li>Route von Landfriedstraße 14: Durch die Märzgasse in die Hauptstraße (Ecke
Märzgasse Zusammentreffen mit Zug vom Marktplatz), weiter wie Route von Markt
7. Die Schülerinnen und Schüler des Hölderlin treffen sich um 16.15 Uhr und
laufen um 16.25 Uhr los.</li>

<li>Route von Moltkestraße 13: In die Handschuhsheimer Landstraße zur Brückenstraße, Bismarckplatz, Poststraße. Die Schülerinnen und Schüler des St. Raphael treffen sich um 16.15 Uhr und laufen um 16.30 Uhr los.</li>

<li>Route von Häusserstraße 4: In die Bahnhofstraße, entlang der Kurfürstenanlage (Bauhaus) zum Treffpunkt. Die Schülerinnen und Schüler des Helmholtz treffen sich um 16.30 Uhr und laufen um 16.40 Uhr los.</li>

<li>Route von Bunsenstraße 19a: In die Häusserstraße, Zusammentreffen mit Zug Häusserstraße 4, weiter s.o. Die Schülerinnen und Schüler der IGH und der Waldorfschule treffen sich um 16.30 Uhr und laufen um 16.40 Uhr los.</li>

<li>Route von Bergheimerstraße 25: Bergheimerstraße bis Durchgang vor
„Alnatura“ in die Poststraße. Die Schülerinnen und Schüler der
Carl-Bosch-Schule treffen sich um 16.30 Uhr und laufen um 16.40 Uhr
los.</li></ul>
