<h1>Impressum</h1>

<p>ViSdP:
Dr. Susanne Himmelheber, Steingasse 9, 69117 Heidelberg</p>

<p>Haftungshinweis </p>

<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

<h2>Datenschutzerklärung</h2>

<p>Die "Initiative Heidelberger Stolpersteine" nimmt den Schutz Ihrer
persönlichen Daten sehr ernst und hält sich strikt an die Regeln der
Datenschutzgesetze. Personenbezogene Daten werden auf dieser Website nur im
technisch notwendigen Umfang erhoben. In keinem Fall werden die erhobenen Daten
verkauft oder aus anderen Gründen an Dritte weitergegeben. </p>

<h2>Technischer Kontakt</h2>

<p>Für Fehlerberichte, Vorschläge zur Technik und Ähnliches wenden Sie sich
bitte an unsere Webmaster, webmaster [at] stolpersteine-heidelberg . de</p>
