<div align="left">
<h1>Stolperstein-Initiative Heidelberg</h1>
<p><img alt="Drei Bilder nebeneinander: ein verlegter Stolperstein,
	Stolpersteie im Kontext eines Kopfsteinpflasters, Demnig zeigt einen
	Stolperstein vor der verlegung" src="res/main-title.jpg"
	class="dekofig">

<p><b>Herzlich willkommen bei der Initiative Stolpersteine&nbsp; Heidelberg, wir freuen uns über Ihr Interesse an unserem Projekt!</p>

    <p>Die Initiative Stolpersteine trifft sich jeden 2. Dienstag im Monat um
19 Uhr in der Volkshochschule Heidelberg. Die jeweilige Raumnummer
erfährt man durch den Aushang. In den Schulferien finden keine Treffen
statt.</p>

<p>Die Verlegung von Stolpersteinen ist ein Prozess, an dem sich alle
beteiligen können.  Daher sind alle, die interessiert sind an unserer
Arbeit, herzlich  willkommen.</p>

<p>Jeder kann die Patenschaft für einen
Stolperstein übernehmen (Kosten für  Herstellung und Verlegung 120 Euro).</p>

<p style="text-align: center">
<a href="publikationen.html"><img src="/mediapool/bilder/pub-anchor.png"
	alt="Verschiedene Buchtitel" style="width:100%"/><br/>
	Publikationen der Initiative</a></p>


<!-- sofoterm start -->
<!-- sofoterm end -->

 	
<h1>Verlegung von Stolpersteinen als Teil der „Kultur des Erinnerns“ in Heidelberg</h1>

<p>Seit März 2008 gibt es in Heidelberg eine Initiative von Bürgerinnen und
Bürgern, die sich regelmäßig in den Räumen der Volkshochschule trifft und die
sich dafür einsetzt, dass auch in dieser Stadt Stolpersteine zum Gedenken an
verfolgte und ermordete ehemalige Bürgerinnen und Bürger verlegt werden.</p>

<p>Stolpersteine sind kleine Gedenksteine, die vor den einstigen Wohnhäusern
von NS-Opfern in das Straßenpflaster verlegt werden. In die 10 mal 10 cm großen
Messingplatten sind die Namen, Lebensdaten und Hinweise auf das Schicksal des
jeweiligen Opfers eingraviert. Die Steine werden seit 1996 auf Initiative von
Bürgern zusammen mit dem Kölner Künstler Gunter Demnig verlegt.</p>

<p>In mehr als 600 Gemeinden in Deutschland und im benachbarten Ausland sind
bisher über 28000 solcher Steine verlegt worden. In Berlin, in Freiburg und
Hamburg, aber auch in unserer Region in Karlsruhe, Mannheim, Ludwigshafen, in
Ladenburg, in Hemsbach und Weinheim z.B.</p>

<p>Wir erkennen an, dass die Stadt Heidelberg bereits viel für das Erinnern an
die Opfer der NS-Zeit getan hat. Stolpersteine sollen diese Erinnerungsarbeit
<em>ergänzen</em>.</p>

<p>Sie sind Zeichen von Lebensspuren im Alltag und erinnern an die Verbrechen der Nationalsozialisten an den Stellen, wo die Verfolgten und Ermordeten gewohnt und gelebt haben, nämlich mitten in der Stadt. Sie erinnern an
<em>einzelne  Personen</em> und zeigen durch ihre <em>dezentrale</em>  Verteilung, wie sehr die Verfolgten Teil der Gesellschaft waren.Sie schärfen das Bewusstsein von der „Zerbrechlichkeit der Zivilisation“ (Jutta Limbach).
Die Verlegung von Stolpersteinen ist ein Prozess, an dem sich viele beteiligen können. Beispiele aus anderen Gemeinden zeigen, dass die Mitarbeit von Schülern mit ihren Lehrern oder auch von Jugendgruppen bei der vorbereitenden Erarbeitung einzelner Biographien zu einem lebendigen und eindrücklichen Geschichtsunterricht werden kann.</p>

<p>Bei der Verlegung von Stolpersteinen sollen auch solche NS-Opfer berücksichtigt werden, deren bisher weniger öffentlich gedacht worden ist (z.B. Zeugen Jehovas und Gewerkschafter und sogenannte "Asoziale").</p>

<p>Ein Stolperstein wird verlegt, wenn jemand die Patenschaft, d.h. die Kosten für die Herstellung und Verlegung (120.-Euro) übernimmt. Der Stadt entstehen also keine Kosten. Die Initiative hat bereits die Zusage von Patenschaften für weitere Gedenksteine, die an ehemalige Heidelberger Bürger und Bürgerinnen erinnern sollen.</p>

<p>Selbstverständlich werden Stolpersteine nicht gegen den Willen von Angehörigen von Opfern verlegt.</p>

<p><strong>Wir bedanken uns herzlich bei allen Unterstützerinnen und Unterstützern des Projektes für ihren Einsatz während der vergangenen Jahre.</strong></p>
</div>
