<h1>Kontakt</h1>

<p>Falls Sie bei der Initiative Heidelberger Stolpersteine
mitwirken wollen oder uns unterstützen möchten,
erreichen Sie uns per Mail:</p>

<p><a href="mailto:stolpersteine-heidelberg@web.de">Stolpersteine-heidelberg@web.de</a></p>
