<h1>Literaturhinweise</h1>

<p class="attribution">Die Liste stellt lediglich eine kleine Auswahl dar.</p>

<p>Frank-Uwe Betz: Notizen zur NS-Zwangsarbeit und zu den Lagern in Heidelberg
und Umgebung, in: Heidelberg. Jahrbuch zur Geschichte der Stadt Jg. 5 (2000) S.
101 – 115.</p>

<p>Bettina Brand-Claussen, Thomas Röske und Maike Rotzoll (Hg.): Todesursache:
Euthanasie. Verdeckte Morde in der NS-Zeit. Sammlung Prinzhorn/Wunderhorn,
Heidelberg 2002. UB Sign.: 2003 C 388</p>

<p>Andreas Cser: Kleine Geschichte der Stadt und Universität Heidelberg,
Karlsruhe 2007, S. 205-283: Heidelberg in der Weimarer Republik/Die Universität
in der Weimarer Republik/Heidelberg im Nationalsozialismus/ Die Universität im
Nationalsozialismus.</p>

<p>Wolfgang U. Eckart, Volker Sellin, Eike Wolgast (Hg.): Die Universität
Heidelberg im Nationalsozialismus, Heidelberg 2006.</p>

<p>Detlef Garbe: Zwischen Widerstand und Martyrium: Die Zeugen Jehovas im
"Dritten Reich". Studien zur Zeitgeschichte, München 1999</p>

<p>Norbert Giovannini und Frank Moraw (Hg.): Erinnertes Leben.
Autobiographische Texte zur jüdischen Geschichte Heidelbergs, Heidelberg
1998.</p>

<p>Norbert Giovannini: Zwischen Republik und Faschismus. Heidelberger
Studentinnen und Studenten 1918-1945, Weinheim 1990 (Zugl.: Univ. Heidelberg,
Diss., 1986). UB Sign.: 90 P 0206</p>

<p>Norbert Giovannini u.a. (Hg.): Jüdisches Leben in Heidelberg. Studien zu
einer unterbrochenen Geschichte, Heidelberg 1992.</p>

<p>Norbert Giovannini, Claudia Rink, Frank Moraw: Erinnern, Bewahren, Gedenken
- Die jüdischen Einwohner Heidelbergs und ihre Angehörigen 1933-1945,
Biographisches Lexikon mit Texten, 542 Seiten, Heidelberg 2011.</p>

<p>Marcus Herrberger: "Denn es steht geschrieben: "Du sollst nicht töten!"- Die
Verfolgung religiöser Kriegsdienstverweigerer unter dem NS-Regime mit
besonderer Berücksichtigung der Zeugen Jehovas 1939-1945", Colloquium Band 12,
Wien 2005.</p>

<p>Herbert Hoffmann: Im Gleichschritt in die Diktatur? Die
nationalsozialistische Machtergreifung in Heidelberg und Mannheim 1930-1935,
Frankfurt 1985. UB Sign. 85 A 8925</p>

<p>IG Metall-Verwaltungsstelle Heidelberg (Hg.): Das andere Heidelberg. Ein
alternativer Stadtführer, Köln 1987. Sign. Stadtarchiv: B 75 n</p>

<p>Beate Kosmala und Reviatl Ludewig-Kedmi: Verbotene Hilfe. Deutsche
Retterinnen und Retter während des Holocaust. Donauwörtz 2003 (mit CD-ROM).
[mit Interview-Sequenzen mit Hermann Maas].</p>

<p>Joachim-Felix Leonhard (Hg.): Bücherverbrennung, Zensur, Verbot, Vernichtung
unter dem Nationalsozialismus in Heidelberg, Heidelberg 1983. UB Sign.FA 3172
MV; LSA Al-MH 033, 3. Ex.</p>

<p>Max Ludwig: Das Tagebuch des Hans O. Dokumente und Berichte über die
Deportation und den Untergang der Heidelberger Juden, Heidelberg 1965.</p>

<p>Meinhold Lurz: Die Heidelberger Thingstätte. Die Thingbewegung im Dritten
Reich. Kunst als Mittel politischer Propaganda (Veröffentlichungen zur
Heidelberger Altstadt, Bd. 10) Heidelberg 1975.</p>

<p>Miriam Magall: Ein Rundgang durch das jüdische Heidelberg, Heidelberg
2006.</p>

<p>Renate Marzolff: Leontine und Victor Goldschmidt, Gründer der von
Portheim-Stiftung, Bürger in Heidelberg 1889-1942, Heidelberg 2007.</p>

<p>Marlis Meckel: Den Opfern ihre Namen zurückgeben (Stolpersteine in
Freiburg)</p>

<p>Mundt, Hohendorf, Rotzoll: Psychiatrische Forschung und NS-Euthanasie</p>

<p>Eckhart Marggraf: Hermann Maas. Evangelischer Pfarrer und »stadtbekannter
Judenfreund«, in: Michael Bosch und Wolfgang Nies (Hg.), Der Widerstand im
deutschen Südwesten 1933-1945 (Schriften zur Politischen Landeskunde
Baden-Württembergs Bd. 10) Stuttgart 1984, S. 71-82.</p>

<p>Peter Merz (Bearb.): Damit nichts bleibt wie es ist. Dokumente zur
Geschichte der Arbeiterbewegung in Heidelberg 1845-1949. IG
Metall-Verwaltungsstelle Heidelberg, Kösching 1988.</p>

<p>Elmar Mittler (Hg.): Heidelberg. Geschichte und Gestalt, Heidelberg
1996.</p>

<p>Frank Moraw: Die nationalsozialistische Diktatur, in: Andreas Cser u.a.,
Geschichte der Juden in Heidelberg, Heidelberg 1996, S. 440-555.UB Sign.: 96 A
10935</p>

<p>Frank Moraw, Gaby Oppenheimer, Manfred Gerber u.a.: Oppen-heimer. Eine
Heidelberger Familie vor dem Holocaust, Heidelberg 1998.</p>

<p>Frank Moraw: Das Gymnasium zwischen Anpassung und Selbstbehauptung. Zur
Geschichte des Heidelberger Kurfürst-Friedrich-Gymnasiums 1932-1946, Heidelberg
1987. UB Sign. 87 A 6661</p>

<p>Frank Moraw: Zwischen Anpassung und Selbstbehauptung: Das Gymnasium in der
nationalsozialistischen Diktatur, in: Volker Gewahl u.a., Pädagogium – Lyceum –
Gymnasium. 450 Jahre Kurfürst-Friedrich-Gymnasium zu Heidelberg, Heidelberg
1996, S. 381.</p>

<p>Christian Peters, Arno Weckbecker (Hg.): Auf dem Weg zur Macht. Zur
Geschichte der NS-Bewegung in Heidelberg 1920-1934. Dokumente und Analysen,
Heidelberg 1983. UB Sign.: 83 A 9179; Hist. Seminar: D VI h 197</p>

<p>Huber Roser: Parteistatthalter in Badens NS-Kaderschmiede. Wilhelm Seiler,
NSDAP-Kreisleiter von Heidelberg, in: Michael Kißener und Joachim Scholtyseck
(Hg.): Die Führer der Provinz. NS-Biographien aus Baden und Württemberg
(Karlsruher Beiträge zur Geschichte des Nationialsozialismus Bd. 2) Konstanz
1997, Studienausgabe 1999, S. 655-681.</p>

<p>Maike Rotzoll: Anstaltspatient und Jude zur NS-Zeit: das zweifach gefährdete
Leben des Heidelbergers B. Oppenheimer, in: Heidelberg. Jahrbuch zur Geschichte
der Stadt Jg. 9 (2004/2005) S. 201-216.</p>

<p>Make Rotzoll: B. Oppenheimer – „Wir fürchteten schon damals, daß wir ihn das
letzte Mal sehen würden“, in: „Das Vergessen der Vernichtung ist Teil der
Vernichtung selbst“. Lebensgeschichten von Opfern der national-sozialistischen
„Euthanasie“, hg. von Petra Fuchs u.a., Göttingen 2007, S. 226-240.</p>

<p>Jörg Schadt, Michael Caroli (Hg.): Heidelberg unter dem
Nationalsozialismus. Studien zu Verfolgung, Widerstand und Anpassung,
Heidelberg 1985. Darin: • Antje Sommer, Der Aufstieg der NSDAP in Heidelberg
1928-33, S. 1-50; • Klaus Heidel und Christian Peters, Nicht nur ein Kampf um
Seelen: Die Kirchen und das „Dritte Reich“ in Heidelberg, S. 51-341; •
Christine Weber, Die Gleichschaltung der Heidelberger katholischen Tageszeitung
„Pfälzer Bote“ 1930-1935, S. 343-398; • Arno Weckbecher, Die Judenverfolgung in
Heidelberg 1933-1945, S. 399-468; • Friederike Reutter, Verfolgung und
Widerstand der Arbeiterparteien in Heidelberg (1933-1945), S. 469-50. Sign. PH:
M 1c/54; UB: 85 A 1808 (vermisst); Hist. Seminar: D VI h 198</p>

<p>Ernst Stiefel: Als jüdischer Jurist in Mannheim und Heidelberg. Bericht
eines Zeitzeugen für die Jahre 1933-45 und heute, in: Max Hachenburg,
Heidelberg 1997, S. 1 – 11.</p>

<p>Jörg Thierfelder: Das kirchliche Heidelberg in der Zeit des
Nationalsozialismus, in: 800 Jahre Heidelberg - Die Kirchengeschichte,
Heidelberg 1996, S. 95 – 103. UB Sign. 97 A 350; WT/PT</p>

<p>Jörg Thierfelder: Gelebte Verantwortung, Der Heidelberger Pfarrer Hermann
Maas und sein Wirken in Heidelberg und Baden (p. 43-62) aus der
PH-Schriftenreihe, Mattes Verlag Heidelberg</p>

<p>Kurt Willy Triller: "Das Martyrium der Zeugen Jehovas unter dem Nazi-Regime
1930 bis 1945. Tausende wurden in den KZ ermordet und Hunderte wurden
hingerichtet" in: Beiträge zur Geschichte der Arbeiterbewegung, Heft Juni 2001,
Trafo Verlag Berlin</p>

<p>Verführt und verraten. Jugend im Nationalsozialismus. Bruchstücke aus der
Region. Ausstellungskatalog für das Kurpfälzische Museum der Stadt Heidelberg,
hg. von Jörn Bahns, Heidelberg 1995. Darin: • Frank Moraw: »Ich gestatte mir die
Anfrage an den Herrn Oberbürgermeister...« Carl Neinhaus - Stadtoberhaupt in
drei politischen Systemen, S. 77-83; • Rainer Christian Ast: Sie hatten
Vertrauen: Menschenbild und Selbstverständnis des Heidelberger Widerstands, S.
137-153; • Ottmar Konrad: Die Neue Zeit - Das neue Medium. Jugend, Film und
Nationalsozialismus, S. 119 – 129; • Patrick Heinstein: Vorsorge statt
Fürsorge: zur Rolle der Nationalsozialistischen Volkswohlfahrt (NSV) in
Heidelberg, S. 85 – 99; • Norbert Giovannini: Die Heidelberger Studentenschaft
im Nationalsozialismus: studentisches Leben, studentische Politik vor und nach
der Machtergreifung, S. 63 – 75; • Imke Köster: Schule im Nationalsozialismus,
S. 53 – 62; • Stefan Klinga: Die HJ - von der Kampfjugend zur Staatsjugend, S.
39 – 51; • Thomas Heber: "Der Nationalsozialismus übernimmt auch in Heidelberg
die Macht": Aspekte der "Machtergreifung" in Heidelberg, S. 33 – 38; Sign.:
Hist.  Seminar, D VI h 198c</p>

<p>Arno Weckbecker: Die Judenverfolgung in Heidelberg 1933-1945, Heidelberg
1985.</p>

<p>Arno Weckbecker: Phasen und Fälle der wirtschaftlichen "Arisierung" in
Heidelberg 1933 –1942, in: Norbert Giovannini (Hg.), Jüdisches Leben in
Heidelberg. Studien zu einer unterbrochenen Geschichte, Heidelberg 1992, S.
143-152.</p>

<p>Eike Wolgast: Die Universität Heidelberg im Dritten Reich, in: Universität
Heidelberg: Die Geschichte der Universität Heidelberg, Heidelberg 1986, S.
186-216.</p>

<p>Eike Wolgast: Die Universität Heidelberg in der Zeit des
Nationalsozialismus, in: Zeitschrift für die Geschichte des Oberrheins, N.F.
96 (= 135. 1987) S. 357-406. </p>


<h2>Giovannini, Rink, Moraw: Erinnern, Bewahren, Gedenken</h2>

<p>Die jüdischen Einwohner Heidelbergs und ihre Angehörigen 1933-1945</p>

<p>Biographisches Lexikon mit Texten. 542 Seiten, Format: 20,5 x 23 cm,
gebunden. Verlag Das Wunderhorn, Heidelberg, 2011 | ISBN: 978-3-88423-353-5</p>

<h3>Über dieses Buch</h3>

<p>Seit 1991 trugen die Autoren dieses Bandes Daten der von 1933 bis 1945 in
Heidelberg mit Wohnsitz verzeichneten jüdischen Einwohner zusammen. Parallel
zur alphabetischen Grundgliederung werden systematisch Familienkontexte über
mehrere Generationen dargestellt. Dadurch gewinnt das Bild der jüdischen
Bewohnerschaft Heidelbergs von 1933-1945 Plastizität und biographische Tiefe.
Durch Einbezug anderer Dokumentationsbestände, Archivrecherchen und
umfangreicher Korrespondenzen entsteht ein stabiles Abbild der Lebensläufe von
annähernd 2000 Personen.</p>

<p>Die Dokumentation der europäischen jüdischen Geschichte in der Epoche der
systematischen Verfolgung, Deportation und Tötung von Millionen europäischer
Juden bedarf nach wie vor einer dokumentarischen Anstrengung, die zugleich
Bewahrung der Erinnerung für künftige Generationen darstellt. Denn es ist auch
die Geschichte eines singulären Zivilisationsbruchs mit unvorstellbarem Leid.
Neben den Stammdaten enthalten die Einzeleinträge Auskünfte über Schul- und
Berufsausbildung, Karriereverläufe, Deportations- und Emigrationsschicksale,
Wohnadressen in Heidelberg sowie Verwandtschaftsbeziehungen. Wesentliche
Veröffentlichungen der dargestellten Personen werden ebenso aufgeführt wie
deren Funktionen im jüdischen Gemeindeleben und anderen Tätigkeitsfeldern.
Ergänzt wird der Band durch eine umfangreiche Bilddokumentation. Besonders
aufschlussreich und eindrucksvoll war für die Autoren die Begegnung mit
ehemaligen jüdischen Einwohnern und deren Nachkommen, die von großem Vertrauen
und lebhafter Anteilnahme an diesem Projekt bestimmt waren.</p>

<h3>Presse</h3>

<p>»Geschichte lebendig halten - das war für Heidelberg schon immer ein
wichtiges Anliegen. Und so hat die Stadt kürzlich wieder ihre ehemaligen
jüdischen Bürgerinnen und Bürger zum Treffen an den Neckar geladen. Für die
Gäste gab es ein wertvolles Geschenk: ein Buch, das an die Schicksale aller
jüdischen Bürger in Heidelberg während der NS-Zeit erinnert. Ein Heidelberger
Forscherteam hatte die Namen und Lebensläufe über zehn Jahre lang recherchiert.
"Erinnern, Bewahren, Gedenken" , so heißt das Buch.« So wurde "das Gedenkbuch"
in der Sendung vom <strong>Mittwoch, 29 Juni 2011</strong>, auf <strong>SWR
Fernsehen in Baden-Württemberg</strong> präsentiert. Unter diesem Link können
Sie sich die Sendung online immer noch ansehen: <a
href="http://www.swr.de/landesschau-bw/-/id=122182/did=8253070/pv=video/nid=122182/toshr5/index.html">"Erinnern,
Bewahren, Gedenken"</a>.</p>

<h3">Autoren</h2>

<p><strong>Claudia Rink</strong>, M. A., Studium
der Kunstgeschichte und Germanistik. Ausstellungsmacherin. Forschungen zur
jüdischen Geschichte. Verschiedene Beiträge zur Personen und Orten der
Heidelberger Stadtgeschichte.</p>

<p><strong>Dr. Norbert Giovannini</strong>, Jg. 1948, Fachleiter am Staatlichen
Seminar für Didaktik und Lehrerbildung in Mannheim, Grund- und
Hauptschullehrer; Forschungen zur Universitätsgeschichte und jüdischen
Geschichte der Stadt Heidelberg.  Mitherausgeber von „Jüdisches Leben in
Heidelberg“ (1992) und „Erinnertes Leben“ (1998). Dozent am Institut für
deutsche Sprache und Literatur an der Pädagogischen Hochschule Heidelberg.</p>

<p><strong>Dr. Frank Moraw</strong>, im Jahr 2011 gestorben, war
Gymnasiallehrer i.R.; Forschungen zur jüdischen Geschichte Heidelbergs, u.a.
Mitherausgeber von „Erinnern, Bewahren, Gedenken“ (2011), „Erinnertes Leben“
(1998) und „Oppenheimer — Eine Heidelberger Familie vor dem Holocaust“
(1998).</p>
