<h1 class="title">Publikationen der Inititative Heidelberger Stolpersteine</h1>

<h2>Heidelberger Miniaturen</h2>

<p>Die Heidelberger Stolperstein-Initiative gibt unter dem Titel
„Heidelberger Miniaturen“ eine kleine Buchreihe heraus, in deren Rahmen
Leben und Werk einiger der Menschen genauer betrachtet werden, für die
wir Stolpersteine verlegt haben.</p>

<h3>Band 1: Anna und Clara Hamburger</h3>

<img class="cover-art"
	src="/mediapool/bilder/Cover_Hamburger.png"
	alt="Buchtitel mit einem Portrait einer streng blickenden Frau
		in hochgeschlossenem schwarzen Kleid"/>

<p>Zwei außergewöhnlichen Schwestern ist dieser 1. Band der Heidelberger
Miniaturen gewidmet; den Zwillingsschwestern Anna und Clara Hamburger,
die im Oktober 1940 mit 300 weiteren Heidelberger Jüdinnen und Juden
nach Gurs verschleppt wurden. Da war diesen aus einer jüdischen
Kaufmannsfamilie stammenden und in Breslau aufgewachsenen Frauen
Heidelberg längst zur Heimat geworden. Seit 1933 durch ein
unmenschliches Regime immer mehr ihrer existenziellen Grundlage und
ihrer bürgerlichen Rechte beraubt, verloren sie zuerst ihre Arbeit und
1939 schließlich auch ihre Wohnung, sie mussten in ein sogenanntes
Judenhaus ziehen. Aber dieser Band erzählt nicht nur über Entrechtung
und Verfolgung dieser beiden bemerkenswerten Frauen, sondern auch
darüber, wie sie sich mutig das Studium an der Universität und ihre
Stellung im Beruf erkämpft haben; sie leisteten Pionierarbeit. Anna war
die erste Professorin an einer badischen Schule, Clara gehörte zu den
ersten Frauen, die von der Naturwissenschaftlichen Fakultät in
Heidelberg promoviert wurden.

<p class="biblio">
<em>Gisela Boeck: Anna und Clara Hamburger –
Zur Erinnerung an zwei beeindruckende jüdische Frauen und
Pionierinnen in der Wissenschaft</em><br/>

Heidelberg 2023: Kurpfälzischer Verlag, 96 Seiten, ca. 20 SW.-Abb.<br/>
9,90– Euro<br/>
ISBN 978-3-924566-74-6
</p>

<p><a href="https://kurpfaelzischer-verlag.de/wp/product/anna-und-clara-hamburger">[Verlagsseite]</a></p>

<h3>Band 2: Siegfried Seidemann. Architekt in Heidelberg</h3>

<img class="cover-art"
	src="/mediapool/bilder/Cover_Seidemann.png"
	alt="Buchtitel mit einer Hausfassade eines Hauses mit
	spätklassizistischen Anklängen"/>

<p>Der 2. Band der Reihe Heidelberger Miniaturen ist einem vergessenen
Heidelberger Architekten gewidmet. Siegfried Seidemann hat in den ersten
Jahrzehnten des 20. Jahrhunderts viele Wohnhäuser und einige
Geschäftshäuser in Heidelberg und im Umland gebaut. Auch die Synagoge in
der Großen Mantelgasse hat er 1913/14 umgebaut, sie wurde in der
Pogromnacht 1938 verwüstet und zerstört. Der Autor Volker von Offenberg
hat sich auf die Spuren des vielseitig beschäftigten Architekten begeben
und konnte viele seiner eleganten und großzügig gebauten Häuser
ausfindig machen – auf vielen hat er sogar seine Signatur hinterlassen.
2022 wurden für Siegfried Seidemann und seine Familie Stolpersteine vor
seinem Haus in der Kleinschmidtstraße 23 verlegt, von hier wurde
Siegfried Seidemann am 22. Oktober 1940 nach Gurs deportiert. Bis
Dezember 1941 war er in Frankreich interniert, schließlich gelang ihm
die Flucht in die USA. In seinem Beruf konnte er dort nicht mehr Fuß
fassen, um zu überleben arbeitete er in New York als Liftboy, da war er
Mitte 60.</p>

<p class="biblio"><em>Volker von Offenberg: Siegfried Seidemann. Architekt in Heidelberg<br/>
Schlesien, Heidelberg, Lager Gurs, New York
Lebensstationen</em><br/>
Heidelberg 2023: Kurpfälzischer Verlag, 72 Seiten, ca. 36 SW.-Abb.<br/>
9,90– Euro<br/>
ISBN 978-3-910886-03-2: Kurpfälzischer Verlag<br/></p>

<p><a href="https://kurpfaelzischer-verlag.de/wp/product/siegfried-seidemann-architekt-in-heidelberg/">[Verlagsseite]</a></p>

<h2>Stolpersteine in Heidelberg</h2>

<img src="mediapool/bilder/titel-band1.png"
	alt="Buchcover Stolpersteine in Heidelberg:  Blau, mit einem Band von
	Stolpersteinen am rechten Rand"
	class="cover-art"/>

<p>Die Initiative Stolpersteine Heidelberg hat im Jahr 2015 das Buch
„Stolpersteine in Heidelberg“ herausgegeben.</p>

<p>152 Stolpersteine erinnerten damals bereits in Heidelberg an Bürger und
Bürgerinnen, die während der NS-Zeit verfolgt, vertrieben, ermordet worden
sind: an Juden, Homosexuelle, politisch Verfolgte, Zeugen Jehovas und
"Euthanasie"-Ermordete.  In diesem ersten Band wird von 120 Einzelschicksalen
berichtet. Soviele Steine wurden von 2010 bis 2015 in dieser Stadt verlegt.
Mitglieder der Initiative, Schüler und Studierende der Universität Heidelberg
erarbeiteten die gut recherchierten Beiträge.  Die Biografien werden ergänzt
durch Exkurse zu speziellen Themen, die Heidelberg betreffen, durch eine
Zeittafel, die die Ereignisse und Verfolgungsmaßnahmen in Heidelberg aufzeigen
sowie durch verschiedene Register (Personen-, Straßen- Geburtsort- und
Ortsregister).</p>

<p class="biblio">
<em>Initiative Stolpersteine Heidelberg (Hg): Stolpersteine in Heidelberg, Band 1</em><br/>
Heidelberg 2015: Kurpfälzischer Verlag, 192 S., über 100 Abb. Broschur 23 x 16
cm,<br/>
Ladenpreis 15,00 Euro<br/>
ISBN 978-3-924566-65-4</p>


<img src="/mediapool/bilder/titel-band2.png" alt="Titelblatt des
Buches: Rot, mit einem Band von Stolpersteinen am rechten Rand"
class="cover-art">


<p>Anfang April 2022 erschien der zweite Band „Stolpersteine in Heidelberg 2017 - 2021“</p>

<p>Seit 2010 werden in Heidelberg Stolpersteine verlegt. Mittlerweile erinnern
mehr als 270 Stolpersteine in dieser Stadt an Menschen, die während der Zeit
des Nationalsozialismus verfolgt, vertrieben, ermordet worden sind: an Juden,
Homosexuelle, politisch Verfolgte, Zeugen Jehovas und
„Euthanasie“-Ermordete.</p>

<p>Für den zweiten Band „Stolpersteine in Heidelberg“ haben die Autorinnen und
Autoren Biografien von 125 Personen recherchiert, für die Stolpersteine
in fast allen Heidelberger Stadtteilen verlegt worden sind. Ihre
Lebens- und Leidensgeschichten sind in diesem Band nachzulesen. Ergänzt
werden sie durch Exkurse zu speziellen Themen, die Heidelberg
betreffen, durch eine Zeittafel, die die Ereignisse und
Verfolgungsmaßnahmen in Heidelberg aufzeigen sowie durch ein Personen-
und Straßenregister.</p>

<p><em>Initiative Stolpersteine Heidelberg (Hg): Stolpersteine in Heidelberg, Band 1</em><br/>
Heidelberg 2022: Kurpfälzischer Verlag, 264 S., über 150 Abb., Broschur 23 x 16 cm, <br/>
Ladenpreis 19,80 Euro<br/>
ISBN 978-3-924566-80-7</p>
