<h1>Sinti und Roma in Heidelberg</h1>

<p><em>(Zusammenfassung eines Vortrag von Ilona Lagrene am 27.1.1995 in
Heidelberg)</em></p>

<p>1916 lebten in Heidelberg 23 Sinti-Familien mit 80 Mitgliedern, überwiegend
in der Altstadt. Die Männer kämpften für Deutschland im 1. Weltkrieg, die
Kinder besuchten die Schule.</p>

<p>Schon kurz nach dem 30. Januar 1933 setzte jedoch die rassische Verfolgung
dieser Minderheit ein.</p>

<p>1935 waren in Heidelberg 99 Sinti – ausnahmslos deutsche Staatsbürger –
erfasst, deren Vertreibung aus der Stadt durch diverse Schikanen systematisch
und erfolgreich betrieben wurde; u.a. wurden ihnen die Wandergewerbescheine
entzogen und Mietverträge gekündigt.</p>

<p>Bereits 1936 verließen, bis auf 29, überwiegend ältere Menschen, die meisten
Sinti-Familien Heidelberg. In Ludwigshafen arbeiteten sie bei der BASF und für
Rüstungsbetriebe.</p>

<p>Alle rassischen Sondergesetze trafen Juden und Sinti und Roma gleichermaßen.
Darüber hinaus wurden für Sinti und Roma sogenannte „Rassegutachten“ erstellt,
die u.a. als Grundlage für Zwangssterilisationen dienten.</p>

<p>Nach Beginn des 2. Weltkriegs durften Sinti und Roma ihre Wohnorte nicht
mehr verlassen; dadurch wurde ihre geplante Deportation leichter
durchführbar.</p>

<p>Im Mai 1940 wurden in ganz Deutschland 2800 Sinti und Roma verhaftet und
anschließend deportiert, darunter 19 Personen, die von Heidelberg nach
Ludwigshafen gezogen waren. Viele von ihnen kamen im Getto von Radom um.</p>

<p>Ab 1942 begann mit dem Auschwitz-Erlass Himmlers „die Deportation aller noch
im Reichsgebiet lebenden Sinti und Roma nach Auschwitz-Birkenau“, darunter auch
ehemalige Heidelberger Sinti.</p>

<p class="attribution">Helga Knaute</p>
