<h1>Spenden</h1>

<p>Die Kosten einer Stolperstein-Patenschaft belaufen sich auf
€ 120.-</p>

<p>Da die Initiative aber auch Kosten anderer Art hat, wie u.a. das Drucken von
Flugblättern und Broschüren oder die Hotelübernachtung des Künstlers mit
Fahrer, freuen wir uns sehr über jede Spende! </p>


<p>Unser Spendenkonto: </p>

<p>"Stolpersteine Heidelberg"<br/>
Volksbank Kurpfalz <br/>
IBAN:DE10 6709 2300 0033 2151 50<br/>
BIC:GENODE61WNM</p>

<p>Herzlichen Dank für Ihre Unterstützung.</p>
