<h1>Steine putzen</h1>
<p>Lieber Bürgerinnen und Bürger,</p>

<p>seit der 7. Stolpersteinverlegung am 28. Juni sind es nun schon 152
Gedenksteine, die in Heidelberg an ehemalige Heidelberger_innen erinnern
sollen, die zur Zeit der NS-Herrschaft verfolgt, vertrieben, deportiert und
zumeist auch ermordet wurden.</p>

<p>Leider bleiben noch viele weitere Namen, an die wir in den kommenden Jahren
erinnern wollen.</p>

<p>Laut Gunter Demnig werden die Gedenkplaketten blank gehalten, indem viele
Schuhe darüberlaufen.</p>

<p>Doch nicht wenige Fußgänger machen wohl einen respektvollen Bogen um die
Gedenksteine, auch setzt die Witterung ihnen zu und so finden wir immer wieder
Stolpersteine, deren Inschriften kaum noch lesbar sind.</p>

<p>Bisher sind Einige von unsrer Initiative immer mal wieder unterwegs gewesen
mit Messingputzmittel in der Tasche und Putztüchern, die dann schnell schwarz
werden vom Belag der Messingplaketten.</p>

<p>Bei der inzwischen beträchtlichen Anzahl der zu betreuenden Stolpersteine
wird es schwierig für uns, alle im Blick zu behalten und regelmäßig zu säubern,
zumal viele von uns nicht mehr jung sind. </p>

<p>Wir bitten Sie daher, uns behilflich zu sein, ein Auge auf die Steine zu
werfen, die Ihnen täglich vor Häusern begegnen, um ihnen Glanz und Lesbarkeit
zu erhalten.</p>

<p>Mit herzlichem Dank im voraus! </p>

<p>Die Initiative Stolpersteine Heidelberg</p>
