<h1>Verfolgung und Widerstand in Heidelberg 1933-1945</h1>

<p>Heidelberg war eine ausgesprochen braune Stadt.  Schon bei der Kommunalwahl
Ende 1930 bekam die NSDAP mit 35,7% die meisten Stimmen. bei der Asta-Wahl der
Universit&auml;t im Sommersemester 1930 erreichte der rechtsradikale Block
sogar die absolute Mehrheit. Die Nazi-Prominenz besuchte daher Heidelberg sehr
gerne. Kein Wunder also, dass Oberb&uuml;rgermeister Dr. Carl Neinhaus,
Mitglied der NSDAP, 1933 Adolf Hitler und 1939 Dr. Joseph Goebbels zu
Ehrenb&uuml;rgern erkor.  Kennzeichnend f&uuml;r die damalige B&uuml;rgerschaft
war, dass Neinhaus 1928 zum OB gew&auml;hlt, von den Nationalsozialisten
&uuml;bernommen und von der CDU 1952 erneut als OB-Kandidat vorgeschlagen und
gew&auml;hlt wurde.</p>

<p>Nach der staatsstreichartigen Macht&uuml;bergabe an Hitler durch Hindenburg
am 30. Januar 1933 – unter Bef&uuml;rwortung von Hochfinanz,
Gro&szlig;industrie und alten Eliten – gingen die Faschisten z&uuml;gig an die
Verwirklichung ihres Programms „Nationalsozialismus“: Bek&auml;mpfung
und Beseitigung von Marxisten, Kommunisten und Juden als angebliche Wurzeln
allen &Uuml;bels, Schaffung eines Gro&szlig;deutschlands mit m&ouml;glichst
rein „arischer“ Bev&ouml;lkerung und Vorbereitung eines neuen
Eroberungskrieges. Diese Vorhaben waren nur in einer Diktatur umsetzbar.  Die
&quot;Regierung der nationalen Erhebung&quot; verf&uuml;gte im Reichstag jedoch
nur &uuml;ber 42 % der Sitze (NSDAP 33 %, DNVP 9 %).</p>

<p>Das sollte durch die Reichstagswahl am 5. M&auml;rz 1933 unter
Ausn&uuml;tzung aller Machtmittel korrigiert werden. Schon am 28. Februar 1933
waren mit der &quot;Verordnung zum Schutz von Volk und Staat&quot; alle
Grundrechte au&szlig;er Kraft gesetzt worden. Mit Versprechungen in
gro&szlig;mundigen Propagandareden Hitlers &quot;Gebt uns 4 Jahre
Zeit...&quot;, Hetze gegen die Demokratie – das &quot;System&quot; -
Verleumdung der Kommunisten als Reichstagsbrandstifter und massiver
Wahlkampfbehinderung von KPD, SAP (Sozialistische Arbeiterpartei) und SPD durch
Presseverbote und Verhaftungen unter r&uuml;cksichtsloser Gewaltanwendung von
Polizei, SA und SS (reichsweit wurden &uuml;ber 70 Morde gez&auml;hlt) erhielt
die Hitler-Koalition schlie&szlig;lich 52 % der Reichstagssitze. Es war die
letzte formal noch freie Wahl. Die Errichtung der Hitler-Diktatur am 23.
M&auml;rz 1933 war quasi nur noch Formsache: Kassierung der 81 KPD-Sitze,
Ermordung und Verhaftung von 15 SPD-Abgeordneten sowie etwas Druck auf die
b&uuml;rgerlichen Fraktionen reichte, die Zweidrittelmehrheit f&uuml;r die
Erm&auml;chtigung zu erzwingen. selbst der sp&auml;tere Bundespr&auml;sident
Theodor Heuss gab sein Ja.</p>

<p>Zuerst traf es die politischen Gegner. Schon vor der Reichstagswahl wurden
in Heidelberg 24 Kommunisten beim Verteilen von Wahlmaterial in
&quot;Schutzhaft&quot; genommen, nach der Wahl wurden weitere 34 Kommunisten
aus Heidelberg und Umgebung verhaftet, darunter 4 Frauen, und teilweise mehrere
Monate lang gefangen gehalten. Arbeiterwohngebiete wurden nach politischem
Material und Waffen durchsucht, beide KPD-Stadtr&auml;te sowie alle 9
KPD-Stadtverordneten verhaftet, ebenso die Redakteure der SPD-Zeitung
&quot;Volksstimme&quot; in der Schr&ouml;derstrasse; KPD- und SPD-Presse wurden
nun v&ouml;llig verboten. Das Gewerkschaftshaus in der Rohrbacher Strasse wurde
von der SA gest&uuml;rmt, 8 Gewerkschaftssekret&auml;re sowie der Wirt kamen
in Schutzhaft, die Gewerkschaften wurden aufgel&ouml;st und ihr Verm&ouml;gen
beschlagnahmt. Nach dem Parteienverbot am 22.06.33 wurden auch die 3
SPD-Mandate aufgehoben und der Stadtrat v&ouml;llig gleichgeschaltet. Bereits
in den ersten Wochen der NS-Diktatur wurden 15 Arbeiter-funktion&auml;re aus
Heidelberg in die KZs Kislau (bei Mingolsheim) und Heuberg (bei Stetten am
Kalten Markt) verschleppt.</p>

<p>Bis Ende M&auml;rz 1933 wurden 40 Heidelberger Arbeitervereine und
Organisationen verboten, 62 Mitarbeiter aus st&auml;dtischen Diensten
widerrechtlich entfernt und 14 Beamte beurlaubt oder zur Ruhe gesetzt.
Insgesamt wurden &uuml;ber 600 Mitarbeiter der st&auml;dtischen und staatlichen
Einrichtungen aus politischen oder rassischen Gr&uuml;nden entlassen. Aus der
Universit&auml;t wurden 62 von 206 Professoren, Dozenten und Lehrbeauftragten
ausgeschlossen oder zur Emeritierung gezwungen, 30 % des gesamten
Lehrk&ouml;rpers. 27 links eingestellte Studierende wurden ab Juni 1933 von
allen deutschen Hochschulen ausgeschlossen.</span></p>

<p>1933 lebten in Heidelberg 1102 B&uuml;rgerinnen und B&uuml;rger
j&uuml;dischen Glaubens und weitere 115 mit j&uuml;discher Abstammung, etwa 1,5
% der Bev&ouml;lkerung. Nach dem November-Pogrom erfolgte die v&ouml;llige
Ausschaltung der Juden aus dem Wirtschaftsleben und die Vernichtung ihrer
wirtschaftlichen Existenz.  Sie wurden aus den meisten Berufen ausgeschlossen
und ihre Gesch&auml;fte und Gewerbebetriebe boykottiert. J&uuml;dische
Einzelhandelsgesch&auml;fte gingen in Konkurs oder mussten weit unter Wert
verkauft werden. Handwerksbetriebe mussten mangels Auftr&auml;gen
schlie&szlig;en, Gro&szlig;handelsgesch&auml;fte und j&uuml;dische Fabriken
gingen in Konkurs oder wurden verkauft. Ab Dezember 1938 durfte kein
j&uuml;disches Kind mehr eine deutsche Schule besuchen, f&uuml;r Juden gab es
ein Verbot des Betretens kultureller Einrichtungen oder Erholungsst&auml;tten.
&Ouml;ffentliche Verkehrsmittel durften nicht mehr benutzt,
Rundfunkger&auml;te, Schallplatten, Fahrr&auml;der, Kameras usw.  mussten
abgeliefert werden. Seit Kriegsbeginn am 1. September 1939 durften Juden nicht
l&auml;nger Mieter in &quot;arischen&quot; H&auml;usern sein und wurden in
besonderen Judenh&auml;usern, z.B.  Bunsenstr. 19a und Landfriedstr. 14
zusammengepfercht. Das sichtbare Tragen des &quot;Judensterns&quot; wurde ab
September 1941 befohlen.  Schlie&szlig;lich wurden am 22. Oktober 1940 auf
Betreiben der Gauleiter von Baden und Saarpfalz, Wagner und B&uuml;rckel, die
j&uuml;dischen B&uuml;rger Heidelbergs morgens zwischen 4 und 7 Uhr von
Gestapo-Leuten aufgefordert zu packen – nur 50 Pfund Gep&auml;ck und 100 RM
waren zur Mitnahme erlaubt – und gezwungen, sich vormittags auf dem Marktplatz
einzufinden, von wo die ver&auml;ngstigten Menschen auf Lastwagen zum Bahnhof
gefahren wurden. Um 18.15 Uhr fuhr der Deportationszug mit 282 Frauen, Kindern
und M&auml;nnern in verplompten Wagen von Heidelberg ab (17 weitere
Heidelberger von anderswo). Nach 4-t&auml;giger Fahrt kamen die
Ungl&uuml;cklichen in einem Barackenlager bei Gurs an den Pyren&auml;en an.
Insgesamt wurden &uuml;ber 6500 Juden aus ganz Baden und der Saarpfalz nach
Gurs verschleppt. Es herrschten schrecklichste gesundheitliche und hygienische
Zust&auml;nde.</p>

<p>55 Heidelberger starben in Gurs, 31 an anderen Orten in Frankreich
und 109 kamen sp&auml;ter in verschiedenen Vernichtungslagern im Osten
ums Leben. 91 der Deportierten &uuml;berlebten, weil sie auswandern oder
sich verstecken konnten. Von 13 Personen ist das Schicksal unbekannt.
Transportunf&auml;hige Kranke und deren n&auml;chste Angeh&ouml;rige,
Mitglieder der j&uuml;dischen Gemeindeverwaltung und in Mischehe lebende
Juden und deren Kinder wurden in kleineren Transporten in den folgenden
Jahren deportiert. Das &quot;Gedenkbuch f&uuml;r die Opfer der
NS-Judenverfolgung in Baden-W&uuml;rttemberg&quot; nennt die Namen von
258 Heidelberger B&uuml;rgerinnen und B&uuml;rgern. Nur wenige
&uuml;berlebten in Heidelberg. Im November 1945 lebten hier noch 40
j&uuml;dische B&uuml;rger. Noch im Februar 1945 sollten die letzten
&uuml;briggebliebenen Juden in das KZ Theresienstadt verschleppt
werden. Darunter auch der sp&auml;tere Oberb&uuml;rgermeister von
Mannheim, Dr. Fritz Cahn-Garnier. Eine wagemutige Heidelbergerin, die
Sozialdemokratin Otti Winteroll, versteckte ihn 44 Tage lang in ihrer
Wohnung im Atzelhof bis zum Einmarsch der Amerikaner Ende M&auml;rz 1945.</p>

<p>Zeugen Jehovas verweigerten ihrer &Uuml;berzeugung folgend den NS-Herren den
Hitlergru&szlig;, die Arbeit in R&uuml;stungsbetrieben, den Fahneneid und
jeglichen Kriegsdienst. Die Glaubensgemeinschaft der Ernsten Bibelforscher
wurde verboten; trotzdem verbreiteten sie ihre Schriften, in denen die Zeugen
Jehovas aufgefordert wurden, ihrer Glaubens&uuml;berzeugung treu zu bleiben und
nach ihrem biblisch geschulten Gewissen zu handeln, z.B. Gott mehr zu gehorchen
als den Menschen. Zwei ihrer Heidelberger Mitglieder kamen wegen ihrer
Standhaftigkeit im KZ Dachau ums Leben, ein weiterer Zeuge Jehovas verweigerte
in Russland den Kriegsdienst und wurde erschossen.</span></p>

<p>An der Psychiatrisch-Neurologischen Universit&auml;tsklinik in Bergheim
bestand seit Anfang 1942 eine Zweigstelle der Berliner Euthanasie-Zentrale, der
&quot;Euthanasie-Forschungsstelle Heidelberg&quot; unter Leitung von Prof. Dr.
Carl Schneider. Er betrieb Langzeituntersuchungen zu Epilepsie und Idiotie und
arbeitete 1942 an einer &quot;Absterbeordnung f&uuml;r Idioten&quot;. Seine
Assistenten, die Doktoren Schmieder, Rauch und Wendt, standen auf einer
Gehaltsliste der Euthanasie-Zentrale. Im Jahr 1944 lie&szlig; Schneider 21
geistig behinderte Kinder ermorden, um an ihren Gehirnen Untersuchungen
vorzunehmen. Ein Gedenkstein vor dem Klinikportal erinnert seit 1998 an diese
minderj&auml;hrigen Opfer. Carl Schneider beging im Dezember 1945 in
Untersuchungshaft Selbstmord, seine Mitarbeiter jedoch machten nach 1945
Karriere.</p>

<p>Die Schicksale von ungez&auml;hlten Homosexuellen, Zwangssterilisierten,
geistig oder k&ouml;rperlich Behinderten oder sonstigen nicht den
NS-Vorstellungen von &quot;Ariern&quot; entsprechenden Mitmenschen, die als
&quot;Querulanten&quot;, &quot;Asoziale&quot;, &quot;Arbeitsscheue&quot;,
&quot;Psychopathen&quot;, &quot;Artfremde&quot;, &quot;Lebensunwerte&quot; und
dergleichen mehr bezeichnet wurden, sind nur in Einzelf&auml;llen bekannt; wie
viele dieser gedem&uuml;tigten und verfolgten Menschen in der Region
Heidelbergs ihr Leben verloren, liegt noch weitgehend im Dunkeln. Im Rahmen
einer 2003 durchgef&uuml;hrten Doktorarbeit wurden jedoch 226 Patientinnen und
Patienten der Psychiatrischen Universit&auml;tsklinik nachgewiesen, die
zwischen 1936 und 1945 in die &quot;Heil-und Pflegeanstalt Wiesloch&quot;
verlegt und in den T&ouml;tungseinrichtungen Grafeneck und Hadamar ermordet
wurden.</p>

<p>In zahlreichen Behelfsunterk&uuml;nften und Baracken wurden w&auml;hrend der
Kriegsjahre in Heidelberg Tausende Kriegsgefangene, Zwangsarbeiter und
Zwangsarbeiterinnen unter meist erb&auml;rmlichen Bedingungen einge-pfercht;
das Stadtarchiv verzeichnet 27.000 Einzelf&auml;lle. Sie mussten ohne oder bei
geringer Bezahlung und bei ungen&uuml;gender Verpflegung und medizinischer
Betreuung in Fabriken, Gewerbebetrieben, Bauernh&ouml;fen und bei der Stadt
Heidelberg arbeiten. Es gab viele Todesf&auml;lle und Hinrichtungen wegen
geringster Vergehen. So beobachtete eine Anwohnerin das Erh&auml;ngen von 5
Zwangsarbeitern im Hof der Waggon-fabrik Fuchs. Auf den Heidelberger
Friedh&ouml;fen wurden mindestens 327 Gr&auml;ber von Kriegsgefangenen,
verschleppten Ausl&auml;ndern und deren Kindern gez&auml;hlt, davon 171 ohne
Namen.  Eine Gedenkplatte auf dem Ehrenfriedhof tr&auml;gt die Inschrift:
&quot;Hier ruhen in einem gemeinsamen Urnengrab 177 polnische, sowjetische und
jugoslawische Tote des Jahres 1945&quot;. Auf dem Kirchheimer Friedhof besagt
eine Gedenk-platte: &quot;Hier ruhen 34 polnische und 20 sowjetische Tote des
Kriegsjahres 1944&quot;. Erst in den letzten Jahren wurde den ehemaligen
Zwangsarbeiterinnen und Zwangsarbeitern eine geringe Entsch&auml;digung
gezahlt.</p>

<p>Kurz vor der Befreiung wurden in Heidelberg noch vier junge  deutsche Soldaten erh&auml;ngt, weil sie nicht mehr weiterk&auml;mpfen wollten – zwei&nbsp; in der Rohrbacher Stra&szlig;e und zwei am  Ortsausgang Handschuhsheim. Alexander Mitscherlich berichtet dazu:</p>

<blockquote>
<p>V&ouml;llig ungeordnet wanderten Hunderte von jungen Soldaten an uns vorbei.
Sie hatten, willentlich oder nicht, den Anschluss an ihre Truppenteile
verloren oder aufgegeben. Gleichzeitig versuchten letzte SS-Einheiten,  die
nicht begreifen wollten, dass das Ende des Dritten Reiches sich  vollzog, durch
Standgerichte und Erschie&szlig;ung die Fl&uuml;chtlingsflut zum  Halten zu
bringen. An der n&ouml;rdlichen Ausgangsstra&szlig;e von  Heidelberg … konnte
man jetzt zwei junge Soldaten an Apfelb&auml;umen  aufgeh&auml;ngt sehen als
Beispiel, das abschrecken sollte … Der  Kriegsrichter, der die Hinrichtung der
vielleicht 17-j&auml;hrigen Jungen  angeordnet hatte, blieb nach dem Krieg im
Amt, und zwar als Professor  des Strafrechts. Die Szene wird noch unheimlicher,
wenn man erf&auml;hrt,  dass dieser Kriegsrichter keineswegs ein Nazi war,
sondern einfach ein  professioneller Unmensch, der der
„Gerechtigkeit“ freie Bahn zu schaffen w&auml;hnte.</p>
</blockquote>
