<h1>10. Stolperstein-Verlegung, 1. Juli 2021</h1>

<p>Alle Kurzbiographien finden sich in der <a href="mediapool/63/638182/data/2021/Stolpersteinbrosch_re_2021.pdf" target="_blank">Stolpersteinbroschüre für 2021</a></p>

<div class="verlegung">

<h2>Bergstraße 44</h2>

<p>Frieda Mayer</p>


<h2>Beethovenstraße 45</h2>


<p>Walter Pagel</p>

<p>Magdalena Pagel</p>

<p>Bernhard Pagel</p>


<h2>Moltkestraße 10</h2>

<p>Camilla Jellinek</p>


<h2>Bergheimerstraße 4</h2>

<p>Jenö Rohmanyi</p>

<p>Erna Rohmanyi</p>

<p>Rudolf Rohmanyi</p>

<p>Ludo Rohmanyi</p>


<h2>Zähringerstraße 4</h2>

<p>Bernhard Levy</p>

<p>Sophie Levy</p>

<p>Fritz Levy</p>


<h2>Plöck 10</h2>

<p>Heinrich Orenstein</p>

<p>Selma Orenstein</p>

<p>Zita Orenstein</p>

<p>Fay Orenstein</p>

<p>Käthe Orenstein</p>

<p>Cilly Orenstein</p>


<h2>Hauptstraße 95</h2>

<p>Herta Flamme</p>

<p>Dietrich Flamme</p>


<h2>Karl-Ludwig-Straße 4</h2>

<p>Frieda Straus</p>

<p>Betty Guhrauer</p>

<p>Ilse Guhrauer</p>

<p>Ada Guhrauer</p>


<h2>Im Schaffner 6</h2>

<p>Maja Bitsch (Umlegung des Steins)</p>
</div>
