<h1>2. Stolpersteinverlegung, 28. und 29. November 2011</h1>

<p>Allen, die zu einem guten Gelingen der 2. Stolpersteinverlegung beigetragen haben, herzlichen Dank: </p>
<ul>
<li>den Stolpersteinpatinnen und Stolpersteinpaten, </li>

<li>allen, die Biografien geschrieben, vorgetragen und zur Gestaltung der
Broschüre beigetragen haben,</li>

<li>allen Organisatoren und RednerInnen und
dem Übersetzer bei der Gedenkstunde im Gemeindezentrum der Jüdischen
Kultusgemeinde,</li>

<li>den SchülerInnen und ihrer Lehrerin vom KFG für ihre
Mitwirkung an dieser Gedenkstunde,</li>

<li>Leo und seiner Mutter für die
musikalischen Beiträge,</li>

<li>der   9. Klasse der Theodor-Heuss-Realschule
mit ihren LehrerInnen für die   Gestaltung der Steinverlegung vor dem Haus
Rohrbacher Straße 18,</li>

<li>den Mitarbeitern des Tiefbauamtes für die
sorgfältige Vorbereitung an den jeweiligen Verlegungsorten,</li>

<li>und allen,
die an der zweiten Stolpersteinverlegung teilgenommen haben.</li>
</ul>

<p>Unser besonderer Dank gilt der Bürgerstiftung Heidelberg für ihre großzügige
Spende zum Druck der Stolpersteinbroschüren sowie dem Lehrerkollegium, dem
Freundeskreis und den Schülern und Schülerinnen der Theodor-Heuss-Realschule
für ihre ebenfalls großzügige Spende, die ein gutes Fundament für unsere 3.
Stolpersteinverlegung in Heidelberg bildet. </p>

<p>Alle Kurzbiographien finden sich in der <a target="_blank" href="/mediapool/pdf/heidelberg-stolperstein-broschuere-2011.pdf">Stolperstein-Broschüre 2011</a>.</p>

<div class="verlegung">
<h2>Zähringerstraße 15</h2>

<p><a href="m-l-neu.html">Maximilian und Louise Neu</a></p>

<p><a href="j-schneider-a-bock.html">Jeanette Schneider und Adele Bock</a></p>


<h2>Zähringerstraße 25</h2>

<p><a href="gustav-bopp.html">Gustav Bopp</a> </p>

<h2>Rohrbacher Straße 18</h2>

<p><a href="fam-kaufmann-flor.html">Familie Kaufmann und Alfred Flor</a></p>


<h2>Karlsruher Straße 46</h2>

<p><a href="kaethe-alfred-seitz.html">Käthe und Alfred Seitz</a> </p>

<h2>Dantestraße 24</h2>

<p><a href="familie-baer.html"">Familie Baer</a> </p>

<h2>Rohrbacherstraße 77a</h2>

<p><a href="familie-freund.html">Familie Freund</a> </p>

<h2>Kaiserstraße 42</h2>

<p><a href="hermann-boening.html">Hermann Böning</a></p>
</div>
