<h1>6. Stolperstein-Verlegung, 6. Februar 2015</h1>

<p>Alle Kurzbiografien finden sich in der <a target="_blank" href="mediapool/63/638182/data/2015/6.Stolperbrosch_re_Finale.pdf">Stolpersteine-Broschüre für 2015</a></p>

<div class="verlegung">
<h2>Handschuhsheimer Landstraße 47a</h2>

<p><a href="familie-blumberg.html">Eheleute Blumberg</a></p>



<h2>Hainsbachweg 1</h2>

<p><a href="familie-demuth.html">Familie Demuth</a></p>



<h2>Bergstraße 32</h2>

<p><a href="familie-leser.html">Familie Leser</a></p>



<h2>Bluntschlistraße 4</h2>

<p><a href="max-rose-wertheimer.html">Eheleute Wertheimer</a></p>



<h2>Hauptstraße 187</h2>

<p><a href="familie-wertheimer.html">Familie Wertheimer</a></p>

</div>
