<h1>4. Stolperstein-Verlegung, 15. und 17. März 2013</h1>



<p>Wir erlebten eine wunderbare Gedenkstunde mit einfühlsamen Beiträgen in der
Internationalen Gesamtschule Heidelberg und vielfältige, beeindruckende
Zeremonien an den einzelnen Verlegeorten.  Günter Braun, Künstler aus
Eppelheim, verlegte die Steine am Freitag und Projektinitiator Gunter Demnig am
Sonntag.</p>

<p>Unser herzlicher Dank gilt allen, die zu der gelungenen Verlegung beigetragen
haben:</p>

<ul><li>Schülerinnen und Schülern sowie Lehrerinnen und Lehrern der
IGH,</li>

<li>Günter Braun für die Verlegung,</li>

<li>allen, die Biografien und das Layout der Broschüre erstellt haben,</li>

<li>den Vortragenden in der IGH und an den Verlegeorten,</li>

<li>Paten und Patinnen und Spenderinnen und Spendern,</li>

<li>dem Tiefbauamt Heidelberg für die Vorbereitung,</li>

<li>der Buchhandlung Himmelheber für die Lagerung und Verteilung unserer
Materialien
und</li>

<li>den Helferinnen und Helfern, die organisiert und vorbereitet
haben.</li></ul>

<p>Alle Kurzbiographien finden sich in der <a href="mediapool/63/638182/data/2013/Stolpersteine_HD_Brosch_re_2013.pdf" target="_blank">Stolperstein-Broschüre für 2013</a></p>

<div class="verlegung">
<h2>Heinrich-Fuchs-Str. 96 </h2>

<p><a href="sowj-zangsarbeiter.html"">Fünf sowjetische Zwangsarbeiter</a></p>

<h2>Marktplatz 7 </h2>

<p><a href="eheleute-oppenheimer.html">Leopold und Babette Oppenheimer</a></p>

<h2>Rohrbacher Straße 51 </h2>

<p><a href="familie-snopek.html">Familie Snopek</a></p>

<h2>Moltkestraße 6 </h2>

<p><a href="johanna-geissmar.html">Johanna Geissmar</a></p>

<h2>Helmholtzstraße 18 </h2>

<p><a href="anna-klara-hamburger.html">Anna und Klara Hamburger</a></p>

<h2>Plöck 34 </h2>

<p><a href="familie-seligmann.html">Familie Seligmann</a></p>

<p><a href="julie-jankau.html">Julie Jankau</a></p>

<h2>Klingenteichstraße 6 </h2>

<p><a href="gutman-mombert.html">Ella Gutman und Alfred Mombert</a></p>

<h2>Graimbergweg 1 </h2>

<p><a href="familie-geissmar.html">Familie Jakob Geissmar</a></p>

</div>

<h2>Friedenspreis für die Stolperstein-Initiative</h2>
<p class="attribution">Von Werner Popanda</p>

<p>Nach der Verleihung freuten sich die, die den Heidelberger Friedenspreis entgegengenommen hatten, genau so wie jene, die ihn vergeben hatten. </p>


<p>Heidelberg. Gleich zwei Projekte erhalten in diesem Jahr den Heidelberger
Friedenspreis. Über diese Auszeichnung und damit ein Preisgeld von jeweils 1250
Euro freuen dürfen sich die Initiative "Stolpersteine Heidelberg" sowie ein auf
den Namen "Wir übernehmen Verantwortung in der Welt" getauftes
Schulkinderprojekt der Theodor-Heuss-Realschule in der Altstadt.</p>

<p>Beide Preisträger erhielten von den Mitgliedern des Stiftungskuratoriums,
dem Gerlinde Güllich, Pfarrer Kurt Faulhaber, Georg Grädler, Roland Blatz,
Oberbürgermeister Eckart Würzner, der Kirchheimer Stadtteilvereinsvorsitzende
Jörn Fuchs und der Dekan der katholischen Kirche, Joachim Dauer, angehören, mit
je vier Stimmen mehr Nennungen als die anderen fünf Bewerber.</p>

<p>Vergeben wird der Heidelberger Friedenspreis seit 2001 im zweijährigen
Rhythmus. Den Preis können Einzelpersonen oder Initiativen aus der Stadt
Heidelberg oder der Metropolregion erhalten, die sich in besonderer Weise für
das Gemeinwohl, besonders aber für die Verständigung unter den deutschen und
ausländischen Bürgern einsetzen.</p>

<p>Laut Stiftungsvorstand Roland Blatz hat sich jedoch eine wichtige
Veränderung ergeben. Denn für das Preisgeld, das in der Vergangenheit aus den
Erträgen des Stiftungskapitals kam, wurde aufgrund des derzeitigen Zinsniveaus
ein großherziger Spender gesucht und in der Firma "Heidelberg iT" auch gefunden
(die RNZ berichtete).</p>

<p>Für die Initiative "Stolpersteine Heidelberg", die im Stadtgebiet bislang 83
solcher "Zeichen des Erinnerns und Gedenkens" verlegt hat, nahm Helga Knaute
den Preis entgegen. Sie dankte dem Kuratorium für die "Anerkennung unserer
Arbeit", mit dem Preisgeld könnten nun zehn neue Stolpersteine gesetzt werden.
Ein weiteres Dankeschön richtete die Initiative an Rainer Nägele vom
Liegenschaftsamt der Stadt Heidelberg und an den Eppelheimer Künstler Günter
Braun.</p>

<p>Da die Preisverleihung während eines Kaffee- und Kuchennachmittags der
Kirchheimer Chorgemeinschaft Eintracht-Sängerbund im Bürgerzentrum vorgenommen
wurde, schuf Knaute auch einen Bezug zu diesem Stadtteil. Und zwar dadurch,
dass sie auf jenen Stolperstein verwies, der hier dem hingerichteten
Kirchheimer NS-Widerstandskämpfer Albert Fritz in der nach ihm benannten Straße
gewidmet ist.</p>

<p>Details zum Projekt "Wir übernehmen Verantwortung in der Welt" der Klassen
7a und 7b der Theodor-Heuss Realschule Heidelberg schilderten die Lehrerin
Marina Belova und der Schüler Konstantin Plasoti. Demnach habe dieses im
vergangenen Schuljahr im Fach Katholische Religion "ganz klein angefangen" und
sei "im Laufe der Zeit immer größer und spannender" geworden.</p>

<p>Durch Kuchenverkauf, Spendenlauf und weiteren Aktionen in der Schule
sammelten die zwölf am Projekt beteiligten Schülerinnen und Schüler Geld für
mehrere Zwecke. So übernahmen sie die Patenschaft für einen kleinen
Hulman-Affen im Heidelberger Zoo, sie unterstützten den "Brot &
Salz"-Diakonieladen in der Plöck mit einer Spende und unter dem Motto "Kinder
helfen Kindern" eine Schule in Namibia.</p>

<p>Allerdings sollen nicht nur diese, so Belova, "Brücken der Freundschaft"
durch das Preisgeld gefestigt werden, sondern auch der neue Projektbereich
"Kinder in Armut". Inzwischen beteiligen sich alle Religionsgruppen der Schule
an diesem Projekt durch den Besuch sozialer Einrichtungen und eine weitere
Spendenaktion.</p>

<p>Da die Preisverleihung am Volkstrauertag stattfand, unterstrich
Oberbürgermeister Eckart Würzner, dass Frieden gerade an einem solchen Tag ein
"ganz wichtiges Thema ist". Dass "wir uns nie an Krieg und Gewalt gewöhnen
dürfen", sei auch ein Anliegen von Rosa und Alfons Eller gewesen, die die
Stiftung Heidelberger Friedenskreuz ins Leben gerufen hatten, so der OB.</p>
