<h1>12. Stolperstein-Verlegung, 7. Februar 2024</h1>

<p>Alle Kurzbiographien finden sich in der <a
href="/mediapool/pdf/heidelberg-stolperstein-broschuere-2024.pdf">Stolpersteinbroschüre
für 2024</a>.</p>

<div class="verlegung">
<h2>Hauptstraße 21</h2>

<p><a href="/mediapool/pdf/2024-ackermann-tj.pdf">Theodor Johann Ackermann</a></p>

<h2>Sofienstraße 7a</h2>

<p><a href="/mediapool/pdf/2024-lacher-wi.pdf">Wilhelm Lacher</a></p>

<h2>Landhausstraße 11</h2>

<p><a href="/mediapool/pdf/2024-fam-deutsch.pdf"
>Saul, Fanny, Mannfred und Erich Deutsch</a></p>

<h2>Zähringer Straße 29</h2>

<p><a href="/mediapool/pdf/2024-fam-hess.pdf"
>Wilhelm, Julie, Doris, Bernhard und Walter Ludwig Hess</a></p>

<h2>Dantestraße 39</h2>

<p><a href="/mediapool/pdf/2024-bechtel-mi.pdf">Mina Bechtel</a></p>

<h2>Bunsenstraße 19a</h2>

<p><a href="/mediapool/pdf/2024-fam-beer-oppenheimer.pdf"
>Julius Beer, Saly, Flora und Franz Oppenheimer, Eleonore Sterling</a></p>

<h2>Bergheimer Straße 25</h2>

<p><a href="/mediapool/pdf/2024-fam-sternweiler-wertheimer.pdf"
>Nathalie Sternweiler, Rositta und Artur Wertheimer</a></p>

<h2>Beethovenstraße 39</h2>

<p><a href="/mediapool/pdf/2024-fam-gumbel.pdf"
>Emil Julius, Marie Luise und Harald Gumbel</a></p>

<h2>Hölderlinweg 8</h2>

<p><a href="/mediapool/pdf/2024-e-e-reis.pdf"
>Edwin Isidor und Elsbeth Reis</a></p>

<h2>Werderplatz 6</h2>

<p><a href="/mediapool/pdf/2024-m-w-reis.pdf"
>Mathilde und Wilhelm Reis</a></p>

</div>
