<h1>1. Stolpersteinverlegung 12. Oktober 2010</h1>

<p>Alle Kurzbiographien finden sich in der <a target="_blank" href="/mediapool/pdf/heidelberg-stolperstein-broschuere-2010.pdf">Stolperstein-Broschüre 2010</a>.</p>


<div class="verlegung">
<h2>Dreikönigstraße 15</h2>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-fehrentz-he.pdf">HEINRICH FEHRENTZ</a></strong><br/>

JG. 1908<br/>

VERHAFTET 1943<br/>

FEINDSENDER ABGEHÖRT<br/>

ZUCHTHAUS STUTTGART<br/>

HINGERICHTET 22.12.1943</p>

<img class="dekofig" alt="Demnig zeigt den Stolperstien für Fehrentz"
	src="mediapool/63/638182/resources/40642494.JPG"
	width="600"/>


<h2>Dreikönigstraße 24</h2>

<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-brummer-lu.pdf">LUDWIG BRUMMER</a></strong><br/>

ZEUGE JEHOVAS<br/>

JG. 1920<br/>

KRIEGSDIENST<br/>

VERWEIGERT<br/>

ERSCHOSSEN 3.12.1941<br/>

BOBRUISK / RUSSLAND</p>


<h2>Gaisbergstraße 9</h2>

<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-goldschmidt-le.pdf">LEONTINE GOLDSCHMIDT</a></strong><br/>

GEB. VON PORTHEIM<br/>

JG. 1863<br/>

VOR DEPORTATION<br/>

FLUCHT IN DEN TOD<br/>

25.08.1942</p>


<h2>Hauptstraße 121</h2>

<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-fam-durlacher.pdf">HERMANN DURLACHER</a></strong><br/>

JG. 1893<br/>

VERHAFTET 1938<br/>

DACHAU<br/>

DEPORTIERT 1940<br/>

GURS<br/>

ERMORDET IN<br/>

AUSCHWITZ<br/>



<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-fam-durlacher.pdf">MARTA DURLACHER</a></strong><br/>

GEB.FISCHER<br/>

JG. 1897<br/>

DEPORTIERT 1940<br/>

GURS<br/>

ERMORDET IN<br/>

AUSCHWITZ</p>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-fam-durlacher.pdf">WALTER DURLACHER</a></strong><br/>

JG. 1924<br/>

KINDERTRANSPORT 1939<br/>

ENGLAND<br/>

ÜBERLEBT</p>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-fam-durlacher.pdf">LUDWIG DURLACHER</a></strong><br/>

JG. 1927<br/>

KINDERTRANSPORT 1939<br/>

ENGLAND<br/>

ÜBERLEBT<br/>


<h2>Bergstraße 44</h2>

<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-blum-blumenthal.pdf">BETTY BLUM</a></strong><br/>

GEB. LIEBHOLD<br/>

JG. 1880<br/>

GEDEMÜTIGT / ENTRECHTET<br/>

FLUCHT IN DEN TOD<br/>

26.12.1939</p>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-blum-blumenthal.pdf">LENI BLUMENTHAL</a></strong><br/>

GEB. BLUM<br/>

JG. 1919<br/>

FLUCHT 1938<br/>

HOLLAND<br/>

ENGLAND<br/>

ÜBERLEBT</p>


<h2>Bergstraße 86</h2>

<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapool/pdf/2010-fam-liebhold-marx.pdf">MICHAEL ’MICHEL’ LIEBHOLD</a></strong><br/>

JG. 1883<br/>

VERHAFTET 1938<br/>

DACHAU<br/>

TOT AN HAFTFOLGEN<br/>

27.12.1938</p>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapools/pdf/2010-fam-liebhold-marx.pdf">AMALIE ’MALLY’ LIEBHOLD GEB. MARX</a></strong><br/>

JG. 1893<br/>

FLUCHT 1939<br/>

HOLLAND<br/>

PALÄSTINA<br/>

ÜBERLEBT</p>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapools/pdf/2010-fam-liebhold-marx.pdf">RUTH LIEBHOLD</a></strong><br/>

JG. 1914<br/>

FLUCHT 1938<br/>

USA<br/>

ÜBERLEBT</p>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapools/pdf/2010-fam-liebhold-marx.pdf">MARTIN LIEBHOLD</a></strong><br/>

JG. 1916<br/>

FLUCHT 1937<br/>

USA<br/>

ÜBERLEBT</p>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapools/pdf/2010-fam-liebhold-marx.pdf">KLAUS LIEBHOLD</a></strong><br/>

JG. 1919<br/>

FLUCHT 1936<br/>

SCHWEIZ<br/>

1941 USA<br/>

ÜBERLEBT</p>


<p class="verlegung">HIER WOHNTE<br/>

<strong><a href="mediapools/pdf/2010-fam-liebhold-marx.pdf">BERTHA ’BERTHEL’ MARX</a></strong><br/>

GEB. GROS<br/>

JG. 1870<br/>

FLUCHT 1939 HOLLAND<br/>

INTERNIERT WESTERBORK<br/>

DEPORTIERT 1943<br/>

SOBIBOR<br/>

TOT AUF TRANSPORT<br/>

23.7.1943</p>

</div>

<h2>Die ersten Stolpersteine sind verlegt</h2>

<img id="40642954" title="" alt="" src="mediapool/63/638182/resources/40642954.jpg" width="400" vspace="0" hspace="0" height="319" border="0">
<p>Foto: Joe</p>

<p>Gunter Demnig verlegte gestern den ersten
Stolperstein vor dem Haus Dreikönigstraße 15. Er soll
an Heinrich Fehrentz erinnern, der hier bis 1943 lebte.
Er wurde im Dezember 1943 hingerichtet, weil er einer
antinazistisch eingestellten Kegelgruppe angehörte.


<p>Von Sören Sgries</p>

<p>Was für ein erfreulicher Tag für die "Initiative Stolpersteine in
Heidelberg". Nicht nur, dass am Dienstagnachmittag die Gedenksteine für die
ersten 15 der Opfer des NS-Regimes verlegt wurden, auch das Interesse in der
Bürgerschaft war ausgesprochen groß. Das zeigte schon die kurze
Gedenkveranstaltung, zu der die Initiative in die Friedrich-Ebert-Gedenkstätte
eingeladen hatte. Weit über 100 Gäste kamen, um an der Veranstaltung
teilzunehmen. Damit übertraf das Interesse die Erwartungen der Veranstalter bei
weitem.</p>

<p>Im Namen der Initiative ließ Gabi Maerzke noch einmal das lange Ringen um
die Erlaubnis, die zehnmal zehn Zentimeter großen Gedenksteine verlegen zu
dürfen, Revue passieren. Seit 2008 gibt es die Bewegung in Heidelberg, aber
erst im Frühjahr 2010 kam es zum kleinen "Wunder", zur "großen Überraschung",
als der Gemeinderat, der sich lange gesträubt hatte, schließlich doch mit nur
einer Enthaltung der Verlegung zustimmte. Bei der ersten Verlegung wurden jetzt
Steine vor den ehemaligen Wohnhäusern der Familien Durlacher in der Hauptstraße
121, Blum in der Bergstraße 44 und Liebhold in der Bergstraße 86 verlegt. Vor
dem Haus in der Dreikönigstraße 15 wird an Heinrich Fehrentz, und in der
Dreikönigstraße 24 an Ludwig Brummer erinnert. Für Leontine Goldschmidt wurde
ein Gedenkstein vor ihrem ehemaligen Wohnhaus in der Gaisbergstraße 9
gesetzt.</p>

<p>Mehr lesen Sie in der RNZ-Druckausgabe vom 13.10.10</p>

<a href="mediapool/63/638182/resources/40643024.jpg">
<img class="dekofig" src="mediapool/63/638182/resources/40643024.jpg" alt="Zeitungsartikel"/></a>

<p>„Ein Mensch ist erst vergessen, wenn sein Name vergessen ist.“ Gunter Demnig</p>

<p> </p>
<table cellspacing="0" cellpadding="0"
border="0" align="center">    <tbody><tr>      <td align="center"><img alt=""
galleryimg="false"
src="mediapool/63/638182/resources/big_40703139_0_280-210.jpg" id="40703139"
name="image_40703139" width="280" height="210" border="0"></td>  <td
nowrap="nowrap">   </td>      <td align="center"><img alt=""
galleryimg="false"
src="mediapool/63/638182/resources/big_40703144_0_220-293.JPG" id="40703144"
name="image_40703144" width="220" height="293" border="0"></td>    </tr>
<tr>  <td align="center">
<p> </p>
</td>  <td> </td>  <td
align="center">
<p> </p>
</td>    </tr>  </tbody></table>

<p> </p>
<table cellspacing="0"
cellpadding="0" border="0" align="center">    <tbody><tr>      <td
align="center"><img alt="" galleryimg="false"
src="mediapool/63/638182/resources/big_40703154_0_280-210.JPG" id="40703154"
name="image_40703154" width="280" height="210" border="0"></td>  <td
nowrap="nowrap">   </td>      <td align="center"><img alt=""
galleryimg="false"
src="mediapool/63/638182/resources/big_40703159_0_280-210.JPG" id="40703159"
name="image_40703159" width="280" height="210" border="0"></td>    </tr>
<tr>  <td align="center">
<p> </p>
</td>  <td> </td>  <td
align="center">
<p> </p>
</td>    </tr>  </tbody></table>

<p> </p>
<table cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>      <td align="center">
<p> </p>

<p><img alt="" galleryimg="false" src="mediapool/63/638182/resources/big_40703064_0_280-210.JPG" id="40703064" name="image_40703064" width="280" height="210" border="0"></p>
</td>  <td
nowrap="nowrap">   </td>      <td align="center"><img alt=""
galleryimg="false"
src="mediapool/63/638182/resources/big_40703074_0_270-202.JPG" id="40703074"
name="image_40703074" width="270" height="202" border="0"></td>    </tr>
<tr>  <td align="center">
<p> </p>
</td>  <td> </td>  <td
align="center">
<p> </p>
</td>    </tr>  </tbody></table>

<table
cellspacing="0" cellpadding="0" border="0" align="center">    <tbody><tr>
<td align="center"><img name="image_40703089" id="40703089"
src="mediapool/63/638182/resources/big_40703089_0_280-210.JPG"
galleryimg="false" alt="" width="280" height="210" border="0"></td>  <td
nowrap="nowrap">   </td>      <td align="center"><img
name="image_40703099" id="40703099"
src="mediapool/63/638182/resources/big_40703099_0_280-210.JPG"
galleryimg="false" alt="" width="280" height="210" border="0"></td>    </tr>
<tr>  <td align="center">
<p> </p>
</td>  <td> </td>  <td
align="center">
<p> </p>
</td>    </tr>  </tbody></table>
<p> </p>
<table
cellspacing="0" cellpadding="0" border="0" align="center">    <tbody><tr>
<td align="center"><img name="image_40703104" id="40703104"
src="mediapool/63/638182/resources/big_40703104_0_280-210.JPG"
galleryimg="false" alt="" width="280" height="210" border="0"></td>  <td
nowrap="nowrap">   </td>      <td align="center"><img
name="image_40703109" id="40703109"
src="mediapool/63/638182/resources/big_40703109_0_280-210.JPG"
galleryimg="false" alt="" width="280" height="210" border="0"></td>    </tr>
<tr>  <td align="center">
<p> </p>
</td>  <td> </td>  <td
align="center">
<p> </p>
</td>    </tr>  </tbody></table>
<p> </p>
</div>
</td> </tr></table>
