<h1>5. Stolperstein-Verlegung, 20.November 2014</h1>

<p>Alle Kurzbiografien finden sich in der <a href="mediapool/63/638182/data/2014/Stolpersteine_HD_Brosch_re_2014.pdf" target="_blank">Stolpersteine-Broschüre 2014</a></p>

<div class="verlegung">
<h2>Plöck 34</h2>

<p>Familie Seligmann und Julie Jankau (Umverlegung)</p>

<h2>Friedrich-Ebert-Anlage 41</h2>

<p><a href="familie-sommer.html">Familie Sommer</a></p>

<h2>Friedrich-Ebert-Anlage 55 </h2>

<p><a href="familie-fisch.html">Familie Fisch</a></p>


<h2>Bergheimer Straße 81 </h2>

<p><a href="richard-max-broosch.html">Richard Broosch</a> </p>

<h2>Weberstraße 5</h2>

<p><a href="familie-mueller.html">Familie Müller</a></p>

<h2> Weberstraße 7</h2>

<p><a href="familie-kuhn.html"">Familie Kuhn</a></p>

<h2>Blumenthalstraße 36</h2>

<p><a href="elise-dosenheimer.html">Elise Dosenheimer</a></p>

<h2>Dantestraße 14</h2>

<p><a href="familie-bettmann.html">Familie Bettmann</a></p>

<h2>Goethestraße 12</h2>

<p><a href="sussmanowitz-szekely.html">Familie Sussmanowitz/Székely</a></p>
</div>
