<h1>9. Stolperstein-Verlegung, 10. Februar 2020</h1>

<p>Alle Kurzbiographien finden sich in der <a href="mediapool/63/638182/data/2020/Stolpersteinbrosch_re_2020.pdf" target="_blank">Stolpersteinbroschüre für 2020</a></p>

<div class="verlegung">
<h2>Amalienstraße 4</h2>

<p><a href="familie-ehrmann.html">Familie Ehrmann</a></p>

<p><a href="bertha-menges.html">Bertha Menges</a></p>

<p><a href="sofie-metzger.html">Sofie Metzger</a></p>

<h2>Schillerstraße 18</h2>

<p><a href="eheleute-polak.html">Eheleute Polack</a></p>

<h2>Albert-Mays-Straße 5</h2>

<p><a href="familie-lammfromm.html">Familie Lammfromm</a></p>

<p><a href="rosa-gruenbaum.html">Rosa Grünbaum</a></p>

<h2>Blumenstraße 15</h2>

<p><a href="max-eisemann.html">Max Eisemann</a></p>

<p><a href="dr-berthold-fuchs.html">Dr. Berthold Fuchs</a></p>

<h2>Rohrbacher Straße 43</h2>

<p><a href="eheleute-weinberger.html">Eheleute Weinberger</a></p>

<h2>Friedrich-Ebert-Anlage 32</h2>

<p><a href="fritz-harrer.html">Fritz Harrer</a></p>

<h2>Plöck 73</h2>

<p><a href="anna-joerder.html">Anna Jörder</a></p>

<h2>Ziegelgasse 14</h2>

<p><a href="jakob-zahn.html">Jakob Zahn</a></p>

<h2>Hauptstraße 111</h2>

<p><a href="familie-bornstein.html">Familie Bornstein</a></p>

<h2>Plankengasse 2</h2>

<p><a href="lucia-oestringer.html">Lucia Östringer</a></p>

<p><a href="hubert-weidinger.html">Hubert Weidinger</a></p>

<h2>Hirschgasse 1</h2>

<p><a href="paul-becker.html">Paul Becker</a></p>

<h2>Mönchhofstraße 14</h2>

<p><a href="eheleute-v-waldberg.html">Eheleute v. Waldberg</a></p>

<h2>Quinckestraße 69</h2>

<p><a href="willi-hartlieb.html">Willi Hartlieb</a></p>

<h2>Mühltalstraße 101</h2>

<p><a href="irene-schaefer.html">Irene Schäfer</a></p>

<h2>St. Michaelsgasse 5</h2>

<p><a href="barbara-gaertner.html">Barbara Gärtner</a></p>

<h2>Krahnengasse 6</h2>

<p><a href="ursula-haug.html">Ursula Haug</a></p>

<h2>Große Mantelgasse 12</h2>

<p><a href="jakob-leonhard.html">Jakob Leonhard</a></p>

<h2>Karl-Ludwig-Straße 4</h2>

<p><a href="familie-linick.html">Familie Linick</a></p>

</div>
