<h1>7. Stolperstein-Verlegung, 28. Juni 2016</h1>

<p>Alle Kurzbiographien finden sich in der <a target="_blank" href="mediapool/63/638182/data/2016/2016.pdf">Stolperstein-Broschüre für 2016</a>.</p>

<div class="verlegung">
<h2>St.-Vitus-Gasse 30</h2>

<p><a href="klara-naegele.html">Klara Nägele</a></p>


<h2>Bluntschlistraße 4 </h2>

<p><a href="isak-betti-engelberg.html">Eheleute Engelberg</a></p>


<h2>Albert-Mays-Straße 11a </h2>

<p><a href="hirsch-maienthal.html">Max Hirsch</a></p>

<p> <a href="hirsch-maienthal.html">Flora Maienthal</a></p>

<p></p>

<h2>Endemannstraße 11</h2>

<p><a href="max-mina-ledermann.html">Eheleute Ledermann</a></p>


<h2>Karlsruher Straße 19</h2>

<p><a href="kahn.html">Eheleute Kahn</a></p>

<p><a href="kahn.html">Else und Karoline Kahn</a></p>


<h2>Heinrich-Fuchs-Straße 41 </h2>

<p><a href="storch-ziegler-hei.html">Eheleute Storch, gen. Stern</a></p>

<p><a href="storch-ziegler-hei.html">Klara und Ester Ziegler</a></p>

<p><a href="storch-ziegler-hei.html">Eheleute Heiselbeck</a></p>

<h2>Kirschgartenstraße 103 </h2>

<p><a href="himmelstern.html">Rosalie Himmelstern</a></p>

<p><a href="himmelstern.html">Hedwig Himmelstern</a></p>


<h2>Rathausstraße 3 </h2>

<p><a href="heinr-caecilie-wahl.html">Eheleute Wahl</a></p>

<h2>Rathausstraße 10 </h2>

<p><a href="sophie-nathan-wolff.html">Sophie Wolff</a></p>

<p><a href="sophie-nathan-wolff.html">Nathan Wolff</a></p>


<h2>Rathausstraße 41</h2>

<p><a href="mayer.html">Familie Mayer</a></p>


<h2>Rathausstraße 64</h2>

<p><a href="beer.html">Familie Beer</a></p>
</div>
