<h1>11. Stolperstein-Verlegung, 13. September 2022</h1>

<p>Alle Kurzbiographien finden sich in der <a target="_blank" href="/mediapool/pdf/heidelberg-stolperstein-broschuere-2022.pdf">Stolperstein-Broschüre 2022</a>.</p>

<div class="verlegung">
<h2>Kuno-Fischer-Str. 4</h2>

<p><a href="familie-hachenburg.html">Max, Elisabeth, Hans, Hildegard, Ulrich Hachenburg</a></p>


<h2>Weberstr. 13</h2>

<p><a href="herrmann-rosenfeld.html">Hermann Rosenfeld</a></p>


<h2>Mönchhofstr. 15</h2>
<p><a href="frieda-fromm-reich.html">Frieda Fromm-Reichmann</a></p>


<h2>Brückenstr. 29</h2>
<p><a href="karl-moser.html">Karl Moser</a></p>


<h2>Rahmengasse 18</h2>

<p><a href="fam-herrmann-sipper.html">Hermann, Fanny, Israel, Klara, Selma Sipper</a></p>


<h2>Ladenburger Str. 36<h2>

<p><a href="familie-jakob-sipper.html">Oskar, Sara, Berta, Klara, Emma, Herrmann Sipper</a></p>

<h2>Dantestr. 11</h2>

<p><a href="familie-less.html">Jakob, Johanna, Getrud Less</a></p>


<h2>Kleinschmidtstr. 23</h2>

<p><a href="familie-seidemann.html">Ignatz, Paula, Siegfried Seidemann</a></p>


<h2>Friedr.-Ebert-Anlage 16</h2>

<p><a href="familie-mayer.html">Paul, Elisabeth, Alfred, Karl Mayer</a></p>

<h2>Ziegelhäuser Landstr. 63</h2>

<p><a href="familie-strauss.html">Karl, Elsie, Julian, Dorothea, Alfred Strauss</a></p>
</div>

<p>Film von Linus Maletz: <a href="https://drive.google.com/file/d/1PwdDnK9rg6IujZxd76QnSDFuW2P9E4T4/view?usp=drivesdk">(via Google drive)</a>.</p>
