<h1>8. Stolperstein-Verlegung, 6. Oktober 2017</h1>


<p>Alle Kurzbiographien finden sich in der <a target="_blank" href="mediapool/63/638182/data/2017/Stolpersteinbroschuere_2017.pdf">Stolperstein-Broschüre 2017</a></p>

<div class="verlegung">
<h2>Häusergasse 28</h2>

<p><a href="familie-bodem.html">Familie Bodem</a></p>


<h2>Bunsenstraße 7</h2>

<p><a href="familie-kahn.html">Familie Kahn</a></p>


<h2>Bergheimer Straße 118</h2>

<p><a href="familie-gutmann.html">Familie Gutmann</a></p>

<h2>Brückenstraße 4</h2>

<p><a href="familie-weiner.html">Familie Weiner</a></p>


<h2>Steubenstraße 36</h2>

<p><a href="familie-meyer.html">Familie Meyer</a></p>

<h2>Plöck 40</h2>

<p><a href="doris-baum.html">Doris Baum</a></p>

<p><a href="karoline-borchardt.html">Karoline Borchardt</a></p>

<p><a href="dr-dora-busch.html">Dr. Dora Busch</a></p>

<p><a href="dr-eugen-ehrmann.html">Dr. Eugen Ehrmann</a></p>

<p><a href="dr-berta-eisenmann.html">Dr. Berta Eisenmann</a></p>

<p><a href="margot-meyer.html">Margot Meyer</a></p>

<p><a href="helene-preetorius.html">Helene Preetorius</a></p>

<h2>Hauptstraße 123</h2>

<p><a href="familie-simon.html">Familie Simon</a></p>
</div>
