<h1>3. Stolpersteinverlegung am 15. November 2012</h1>

<p>Bei dieser 3. Verlegung in Heidelberg wurde insbesondere den Familien Ferdinand Hochherr, Simon Hochherr und Gustav Hochherr gedacht. </p>

<p>Es war eine besondere Freude und Ehre für die Stolperstein-Initiative, dass auch Nachkommen der Familie an der Verlegung und Gedenkstunde teilnehmen konnten. Ellen Mendel und Paul Eric Joseph haben ihren Großvater Ferdinand Hochherr noch kennengelernt und konnten in bewegenden Worten Familiengeschichten erzählen. Ellen Mendel war aus New York angereist, Paul Eric Joseph mit Frau, Bruder und Schwägerin aus den Niederlanden. </p>

<p>Nur wenige Familienmitglieder der Familien Hochherr überlebten den Holocaust. </p>

<p>Mit Maja Bitsch und Bruno Oppenheimer wurde in Heidelberg erstmals Kindern gedacht, die Opfer der sogenannten „Euthanasie“ waren und gezielt getötet wurden, weil sie behindert waren. Maja Bitsch hatte wahrscheinlich das Down Syndrom, Bruno Oppenheimer war gehörlos und litt an epileptischen Anfällen.</p>

<p>Salomon und Paula Deutsch gehörten zu den Stützen des orthodoxen jüdischen Gemeindelebens. Sie wurden nach Ungarn ausgewiesen und in Auschwitz ermordet. Ihre vier Kinder überlebten. </p>

<p>Albert Fritz wurde für seine politische Überzeugung verfolgt und immer wieder inhaftiert. Seine Mitarbeit an der Widerstandszeitung „Der Vorbote“ wurde ihm, wie vielen seiner Genossen, zum Verhängnis. Er wurde zum Tode verurteilt und starb unter dem Fallbeil.</p>

<p>Julius Rinklin leistete aus seiner christlichen Überzeugung heraus als Zeuge Jehovas gewaltlosen Widerstand. Er kam in das KZ Kislau, dann nach Dachau, wo er 1938 ums Leben kam.</p>


<p>Die Stolpersteininitiative Heidelberg dankt allen Beteiligten für die tatkräftige Unterstützung, ohne die wir auch diese Stolperstein-Verlegung nicht hätten durchführen können: </p>

<p> Großer Dank gilt dem Kurfürst-Friedrich-Gymnasium, das die Patenschaft für den Stolperstein für Bruno Oppenheimer übernommen hat, dessen Wohnhaus heute zum KFG gehört. Die vom KFG gestaltete Gedenkfeier wird uns immer im Gedächtnis bleiben. Sie hat uns gezeigt, wie lebendig „Erinnern“ sein kann.</p>

<p> Dank an den Künstler Günter Braun aus Eppelheim, der uns bei der Verlegung unterstützt hat und unser Retter in der Not war.</p>

<p> Dank an das städtische Tiefbauamt, das wieder die Verlegeorte vorbereitet hat.</p>

<p> Dank an die Buchhandlung Himmelheber, die uns wieder ihre Tür öffnete und bei der Organisation unser Dreh- und Angelpunkt war. </p>


<p>Alle Kurzbiografien finden sich in der <a href="mediapool/63/638182/data/2012/Stolpersteine_HD_2012-11-15_Brosch_re_V_2.0_2012-10-12.pdf" target="_blank">Stolpersteine-Broschüre für 2012</a></p>

<div class="verlegung">
<h2>Im Schaffner 6</h2>

<p><a href="maja-bitsch.html">MAJA BITSCH</a></p>

<h2>Albert-Fritz-Straße 52</h2>

<p><a href="albert-fritz.html">ALBERT FRITZ</a></p>

<h2>Kaiserstraße 29</h2>

<p><a href="fam-hochherr-weil.html">FAMILIE FERDINAND HOCHHERR</a></p>


<h2>Sofienstraße 1</h2>

<p><a href="bruno-oppenheimer.html">BRUNO OPPENHEIMER</a></p>

<h2>Uferstraße 20</h2>

<p><a href="fam-hochherr-weil.html">FAMILIE GUSTAV HOCHHERR</a></p>

<p><a href="fam-hochherr-weil.html">FAMILIE ARTHUR WEIL</a></p>


<h2>Werderstraße 17</h2>

<p><a href="sal-paula-deutsch.html">SALOMON UND PAULA DEUTSCH</a></p>



<h2>Brückenstraße 51</h2>

<p><a href="fam-hochherr-weil.html">FAMILIE SIMON HOCHHERR</a></p>



<h2>Ziegelhäuser Landstraße 31</h2>

<p><a href="julius-rinklin.html">JULIUS RINKLIN</a></p>
</div>
