<h1>Zwangsarbeiter in Heidelberg</h1>

<p>In zahlreichen Behelfsunterkünften und Baracken wurden während der
Kriegsjahre in Heidelberg Tausende Kriegsgefangene, Zwangsarbeiter und
Zwangsarbeiterinnen unter meist erbärmlichen Bedingungen eingepfercht; das
Stadtarchiv verzeichnet 27.000 Einzelfälle. Sie mussten ohne oder bei geringer
Bezahlung und bei ungenügender Verpflegung und medizinischer Betreuung in
Fabriken, Gewerbebetrieben, Bauernhöfen und bei der Stadt Heidelberg arbeiten.
Es gab viele Todesfälle und Hinrichtungen wegen geringster Vergehen. So
beobachtete eine Anwohnerin, Frau Zambelli, das Erhängen von 5 Zwangsarbeitern
im Hof der Waggonfabrik Fuchs. </p>


<p>Aus dem Sterberegister Heidelberg 1944: </p>

<ul>
<li>Nikolai Ewdokimov, Ostarbeiter, geboren am 8.8.1924 in
Nowoderewnia/Russland, gestorben am 28.8.1944 mit Uhrzeit 12:30 in
Heidelberg-Rohrbach, Heinrich-Fuchs-Str. 92, Todesursache
"Erstickungstod"</li>

<li>Alexei Bjelow, Ostarbeiter, geboren am 1.10.1922 in Kusnezowa/Russland,
gestorben am 28.8.1944 mit Uhrzeit 12:30 in Heidelberg-Rohrbach,
Heinrich-Fuchs-Str. 92, Todesursache "Erstickungstod"</li>

<li>Wassili Skorkin, Ostarbeiter, geboren am 1.1.1925 in Ponorj/Russland,
gestorben am 28.8.1944 mit Uhrzeit 12:30 in Heidelberg-Rohrbach,
Heinrich-Fuchs-Str. 92, Todesursache "Erstickungstod"</li>

<li>Anatolij Bachatschow, Ostarbeiter, geboren am 8.2.1923 in Kiew/Russland,
gestorben am 28.8.1944 mit Uhrzeit 12:30 in Heidelberg-Rohrbach,
Heinrich-Fuchs-Str. 92,    Todesursache "Erstickungstod"</li>

<li>Pawel Chrebor, Ostarbeiter, geboren am 10.2.1923 in Trostianez/Russland,
gestorben am 28.8.1944 mit Uhrzeit 12:30 in Heidelberg-Rohrbach,
Heinrich-Fuchs-Str. 92, Todesursache "Erstickungstod"</li>

</ul>

<p>Die Sterbeeinträge wurden am 29.8.1944 vorgenommen aufgrund der Anzeige des
Kriminalangestellten Bernhard Kraus, der von den Todesfällen „aus eigener
Wissenschaft unterrichtet“ war.</p>


<p>Erlebnisbericht der ehemaligen Beschäftigten der Fuchs-Waggonfabrik, Frau
Zambelli, über den antifaschistischen Widerstand in Heidelberg-Kirchheim und
über die Hinrichtung von ukrainischen Zwangsarbeitern auf dem Betriebsgelände
der Fuchs-Waggonfabrik:</p>

<blockquote>
<p>In Heidelberg-Kirchheim gab es vor und während der Zeit des Faschismus viele
politisch bewußte Arbeiter mit kommunistischer und sozialistischer Einstellung,
die sich aktiv gegen den Faschismus zur Wehr setzten, indem sie im Gebiet des
Höllensteins und im Betrieb der Firma Fuchs-Waggonfabrik antifaschistische
Flugblätter verteilten. Es war natürlich klar, daß diese Verteilung der
Flugblätter absolut im Untergrund stattfand. Die SA und die SS ließen nichts
unversucht, den Kern der antifaschistischen Bewegung zu zerschlagen. Es verging
deshalb auch kein Tag, an dem nicht Hausdurchsuchungen in sämtlichen
Arbeiterwohnungen vollzogen wurden. Ein Teil der Arbeiter-schaft der Firma
Fuchs-Waggonfabrik bildete schon immer den Kern kommunistischer und
sozialistischer Bewegung.</p>

<p>Ich weiß, es war so um das Jahr 1941/42, da gab es in der Nähe des
Kirchheimer Bahngeländes ein kleineres russisches Gefangenenlager. Die
russischen Gefangenen lebten in kleineren, verwahrlosten Baracken und mußten
für die Nazis irgendwelche Arbeiten verrichten. Die Verpflegung und Behandlung
der Gefangenen war so menschenun-würdig, daß es hie und da vorkam, daß sich die
Gefangenen aus Eisenbahnwaggons Verpflegung holten.</p>

<p>Solche Dinge sind natürlich auch an die Nazis verraten worden, und so kam
es, daß an einem Morgen im Betriebsgelände der Firma Fuchs-Waggonfabrik Galgen
aufgestellt wurden und fünf oder sechs gefesselte Russen vorgeführt wurden. Die
Galgen wurden natürlich so aufgestellt, daß es nach Möglichkeit der
Öffentlichkeit verborgen blieb. Trotzdem haben viele Arbeiter der Firma
Fuchs-Waggonfabrik genau gesehen, wie die fünf oder sechs Russen durch die
Heidelberger SA und SS aufgehängt worden sind.</p>

<p>Die Hinrichtung ist so vollzogen worden: Ein junger Russe (wir nannten ihn
den kleinen Stalin) mußte die Holzkisten, auf denen die Russen standen,
wegschieben. Herr Fuchs, der Fabrikdirektor, hat sich an diesem Tag aus dem
Staub gemacht, damit später keiner sagen konnte, er wußte von alledem. Jeder,
der sich gegen diese Methoden der Nazis gewandt hätte, hätte ein ähnliches
Schicksal erwartet. Später wurde uns gesagt, daß die russischen Gefangenen Gift
getrunken hätten und gestorben wären.</p>

</blockquote>

<p>Quelle des Augenzeugenberichts: „Damit nichts bleibt, wie es ist: Dokumente
zur Geschichte der Arbeiterbewegung in Heidelberg 1845 - 1949“.</p>

